<div class="container">

  <div class="row">

    <div class="col-lg-6 offset-lg-3 ">

      <!-- Default Card Example -->
      <div class="card mb-4">
        <div class="card-header">
          Přihlášení
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm">
            <div class="form-group">
              <label for="username">Jméno</label>
              <input
                type="text"
                class="form-control"
                id="username"
                formControlName="username"
                placeholder="Jméno">
            </div>
            <div class="form-group">
              <label for="pass">Heslo</label>
              <input
                type="password"
                class="form-control"
                id="pass"
                formControlName="password"
                placeholder="">
            </div>
            <button type="submit" class="btn btn-primary"  (click)="onLoginSubmit()">Přihlásit se </button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
