<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content text-center clearfix">
          <div class="breadcrumb-menu">
            <ul class="clearfix">
              <li class="active">Lidskost, důstojnost, férové jednání</li>
            </ul>
          </div>
          <div class="title">
            <h1>Práce u nás</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="benefits-area secpd1">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="benefits-image-box wow slideInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: slideInLeft;">
          <img src="assets/images/resources/benefits.jpeg" alt="Awesome Image">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="benefits-text-box">
          <div class="sec-title">
            <div class="title">Vysoký výdělek a férové jednání</div>
          </div>
          <div class="inner-content">
            <h3 class="subtitle blue">Co vám nabízíme?</h3>
            <ul class="blue">
              <li><i class="fa fa-check" aria-hidden="true"></i><strong>Lidskost a flexibilita</strong> - U nás ctíme lidskost, důstojnost, férové jednání a za kvalitní práci vám poctivě a štědře zaplatíme</li>
              <li><i class="fa fa-check" aria-hidden="true"></i><strong>Důstojnost</strong> - Stejně jako my, i naši zákazníci ví, že děláme práci, která má smysl, proto s respektem přistupují ke každé z Vás, neboť se stáváte nedílnou součástí jejich soukromého života</li>
              <li><i class="fa fa-check" aria-hidden="true"></i><strong>Férové jednání a ochrana</strong> - Spolupráce krytá pracovní smlouvou, řádné zaškolení. Samozřejmostí je i pojištění pro případné rozbití/poničení věci.</li>
              <li><i class="fa fa-check" aria-hidden="true"></i><strong>Vysoký výdělek</strong> - Finanční spokojenost a poctivá odměna patří mezi klíčové faktory spokojenosti, proto Vám garantujeme nadprůměrný výdělek</li>
            </ul>
            <br>
            <h3 class="subtitle">Co od vás požadujeme?</h3>
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i>Máte pozitivní vztah k úklidu</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Máte čistý testní rejstřík</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Jste spolehlivá a dochvilná</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Umíte věci řešit s úsměvem</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Dotahujete práci do detailu</li>
            </ul>
            <p>V případě zájmu se nám ozvěte na číslo +420 XXX nebo na email info@cleandeal.cz</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
