<section class="pricing-area">
  <div class="container">
    <div class="row" *ngIf="!orderSentSuccessfully">
      <div class="col-lg-8 col-sm-12">
        <div class="white-block"
        [ngClass]="{'order-sent': orderSendClicked}">
          <div class="sec-title text-center">
            <h3>Rychle a jednoduše</h3>
            <div class="title">Nastavte si úklid</div>
          </div>
          <form [formGroup]="orderForm">

            <section class="form-section">
              <h5 class="label">Typ úklidu</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="cleaningType"
                  (change)="changeCleaningType($event)">
                  <option *ngFor="let ct of cleaningTypes" [value]="ct.id">{{ct.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section" [ngClass]="{'half-section': homeType === homeTypeHouse}">
              <h5 class="label">Typ objektu</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="homeType"
                  (change)="changeHomeType($event)">
                  <option *ngFor="let item of homeTypes" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section no-spacing" *ngIf="homeType === homeTypeHouse">
              <h5 class="label">Počet pater</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="houseFloors"
                  (change)="changeHouseFloors($event)">
                  <option *ngFor="let item of houseFloors" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section">
              <h5 class="label">Jak často bude probíhat úklid</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="frequency"
                  (change)="changeFrequency($event)">
                  <option *ngFor="let item of frequency" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section">
              <h5 class="label">Počet koupelen</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="bathrooms"
                  (change)="changeBathrooms($event)">
                  <option *ngFor="let item of bathrooms" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">Počet kuchyní / kuchyňských koutů</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="kitchens"
                  (change)="changeKitchens($event)">
                  <option *ngFor="let item of kitchens" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section">
              <h5 class="label">Počet ostatních místností</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="rooms"
                  (change)="changeRooms($event)">
                  <option *ngFor="let item of rooms" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">Počet samostatných WC</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="toilets"
                  (change)="changeToilets($event)">
                  <option *ngFor="let item of toilets" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section">
              <h5 class="label">Máte vlastní čisticí prostředky</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="ownCleaningStuff"
                  (change)="changeOwnCleaningStuff($event)">
                  <option *ngFor="let item of ownCleaningStuff" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">Domácí zvířata</h5>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="pets"
                  formControlName="pets" />
              </div>
            </section>

            <section class="form-section">
              <h5 class="label">Míra znečištění</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="dirty"
                  (change)="changeDirty($event)">
                  <option *ngFor="let item of dirty" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section">
              <h5 class="label">Dodatečné informace k úklidu</h5>
              <div class="input-group">
                <textarea
                  class="form-control"
                  placeholder="Vyplňte, co bychom měli vědět před započetím úklidu"
                  formControlName="comments">
                </textarea>
              </div>
            </section>
          </form>

          <hr>
          <form [formGroup]="orderForm">
            <h3 class="subtitle">Kdy a kde úklid proběhne</h3>

            <section class="form-section half-section">
              <h5 class="label">Datum</h5>
              <div class="input-group date-input">
                <mat-form-field appearance="outline">
                  <input matInput [min]="dateMinDate"
                         (focus)="matDatePicker.open()"
                         [matDatepicker]="matDatePicker" formControlName="date" (dateChange)="onDateChange()" />
                  <mat-datepicker-toggle matPrefix [for]="matDatePicker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #matDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">Čas</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="time"
                  (change)="changeTime()">
                  <option *ngFor="let item of times" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section">
              <h5 class="label">Adresa, č.p. (pouze Praha)</h5>
              <div class="input-group text-input">
                <input
                  type="text"
                  class="form-control"
                  name="street"
                  formControlName="address" />
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">PSČ</h5>
              <div class="input-group text-input">
                <input
                  type="text"
                  class="form-control"
                  name="zip"
                  formControlName="pscNumber" />
              </div>
            </section>
          </form>

          <hr>

          <form [formGroup]="userForm">
            <h3 class="subtitle">Informace o vás</h3>

            <section class="form-section half-section">
              <h5 class="label">Jméno</h5>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  formControlName="name">
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">Příjmení</h5>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="surname"
                  formControlName="surname">
              </div>
            </section>

            <section class="form-section half-section">
              <h5 class="label">Email</h5>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="email"
                  formControlName="email">
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">Telefon</h5>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  formControlName="phone">
              </div>
            </section>
          </form>

          <span *ngIf="orderSendClicked && (!orderForm.valid || !userForm.valid)" class="fill-required">Vyplňte prosím všechna povinná pole</span>
          <div class="link-box centered"><a class="btn-one submit-form" (click)="onOrderSubmit()" >Odeslat objednávku úklidu</a></div>
          <span class="agree-to-terms">Odesláním objednávky souhlasíte s našimi <a routerLink="">obchodními podmínkami</a></span>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12">

        <div class="white-block summary-block">
          <div class="title">Souhrn objednávky</div>
          <section *ngIf="summaryOrderDetails">
            <span>Úklid:</span>
            <span class="summary-line">{{summaryOrderDetails}}</span>
          </section>
          <section *ngIf="summaryTimeDetails">
            <span>Příjezd: </span>
            <span class="summary-line">{{summaryTimeDetails}}</span>
          </section>
          <section *ngIf="!!calculatedCleaningTime">
            <span>Doba úklidu:</span>
            <span>cca {{calculatedCleaningTime|number: '1.1-1'}} {{calculatedCleaningTime < 5 ? 'hodiny' : 'hodin'}}</span>
          </section>
          <section *ngIf="ladiesForTheJob > 1">
            <span>Dam na úklid:</span>
            <span>{{ladiesForTheJob}}</span>
          </section>
          <hr>
          <div class="price-total">
            <span>Celkem</span>
            <span class="price">{{finalPrice}} Kč</span>
          </div>
        </div>
        <br>
        <div class="white-block summary-block">
          <div class="title">Podmínky úklidu</div>
          <ul class="summary-list">
            <li>Máte vlastní vysavač, mop a kýbl</li>
            <li>Vyplňujte prosím údaje tak, aby odpovídali stavu uklízené domácnosti</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="orderSentSuccessfully">
      <div class="col-sm-12">
        <div class="white-block"
             [ngClass]="{'order-sent': orderSendClicked}">
          <div class="sec-title text-center">
            <h3>Úklid byl odeslán</h3>
            <div class="title">Děkujueme za Vaši objednávku!</div>
            <br>
            <p>Detaily úklidu jsme Vám zaslali na email <strong>{{userForm.value?.email}}</strong>. </p>
          </div>
        </div>
      </div>
      </div>
  </div>
</section>
