<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 mb-4">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="admin-headline">Přidat kód</h1>
      </div>
    </div>

    <div class="col-xl-12 col-md-12">
      <div class="admin-card">
        <div class="admin-card-body">
          <div class="row">
            <div class="col-xl-6 col-md-12">

              <form [formGroup]="discountForm">

                <div class="form-group row">
                  <label for="code" class="col-sm-4 col-form-label">Kód</label>
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="code"
                      formControlName="code"
                      placeholder="Kód">
                    <span class="form-info" (click)="generateCode()">Vygenerovat</span>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="type" class="col-sm-4 col-form-label">Typ kódu</label>
                  <div class="col-sm-8">
                    <select
                      id="type"
                      class="custom-select"
                      formControlName="type">
                      <option *ngFor="let item of discountTypes" [value]="item.id">{{item.label}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="value" class="col-sm-4 col-form-label">Hodnota <span *ngIf="discountForm.controls['type'].value === 'percentage'">(%)</span><span *ngIf="discountForm.controls['type'].value === 'price'">(Kč)</span></label>
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="value"
                      formControlName="value"
                      placeholder="Hodnota">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Platnost do</label>
                  <div class="col-sm-8">
                    <mat-form-field appearance="outline">
                      <input matInput
                             [min]="dateMinDate"
                             [max]="dateMaxDate"
                             formControlName="validUntil"
                             [matDatepicker]="matDatePicker"
                             autocomplete="off"
                             [placeholder]="'Vyberte datum'"
                             (focus)="matDatePicker.open()"
                      />
                      <mat-datepicker-toggle matPrefix [for]="matDatePicker">
                      </mat-datepicker-toggle>
                      <mat-datepicker #matDatePicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>


              </form>
            </div>
          </div>

          <br>
          <button type="submit" class="btn btn-success" (click)="onSave()">Uložit kód</button>

        </div>
      </div>
    </div>
  </div>
</div>
