<div class="wrapper d-flex align-items-stretch" [ngClass]="{'bg-image-container': !isLogged}">
<nav id="sidebar" [ngClass]="{'active': showSidebar}" *ngIf="isLogged">

    <div class="logo-wrap">
      <img src="/assets/images/resources/logo_cleaner.svg" alt="">
    </div>

    <div class="sidemenu-wrap">
      <ul class="list-unstyled components mb-5" >
        <li class="username">
          <p>{{cleaner?.name}} {{cleaner?.surname}}</p>
        </li>
        <li>
          <a [routerLink]="['/', 'cleaner', 'orders']" routerLinkActive="active" (click)="hideSidebarMobile()">
            <mat-icon aria-hidden="false" fontIcon="wash"></mat-icon> Úklidy</a>
        </li>
        <br>
        <li>
          <a (click)="logoutUser()">
            <mat-icon aria-hidden="false" fontIcon="logout" ></mat-icon> Odhlásit se</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" class="">
    <nav class="navbar navbar-top navbar-expand-lg navbar-light bg-light d-block d-lg-none d-xl-none " *ngIf="isLogged">
      <div class="container-fluid">
        <mat-icon *ngIf="!showSidebar" aria-hidden="false" fontIcon="menu" (click)="toggleSidebar()"></mat-icon>
        <mat-icon *ngIf="showSidebar" aria-hidden="false" fontIcon="close" (click)="toggleSidebar()"></mat-icon>
      </div>
    </nav>

    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
