<!--Home Slider One-->
<section class="home-slider-one">
  <div class="home-slider owl-theme owl-carousel banner-carousel-four">
    <!--Slide-->
    <div class="owl-item active">
      <div class="slide-item " style="background-image:url(assets/images/slides/v1-1-image.jpg);">
        <div class="auto-container">
          <div class="content-box">
            <!--            <div class="shape"><h3>Prozákaznický přístup je pro nás základ</h3></div>-->
            <h1 class="title">Profesionální úklid za rozumné ceny</h1>
            <div class="link-box"><a class="btn-one" (click)="goToPrices()">Spočítat cenu úklidu</a></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--End Home Slider One-->

<!--Start Welcome Area-->
<section class="welcome-area secpd1">
  <div class="container">
    <div class="sec-title text-center">
      <h3>Ušetřete si čas a námahu</h3>
      <div class="title">Uklízíme domácnosti po celé Praze</div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="welcome-image-box clearfix">
          <div class="image-box">
            <img src="assets/images/resources/welcome.jpg" alt="Awesome Image">
          </div>
          <div class="image-thumb1 d-none d-md-block">
            <img src="assets/images/resources/welcome-thumb-1.jpg" alt="Awesome Image">
          </div>
          <div class="image-thumb2 d-none d-md-block">
            <img src="assets/images/resources/welcome-thumb-2.jpg" alt="Awesome Image">
          </div>
          <!--          <div class="icon-box">-->
          <!--            <div class="inner">-->
          <!--              <img src="assets/images/icon/2.svg" alt="Icon">-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="welcome-content-box">
          <div class="top">
            <div class="icon d-none d-md-table-cell">
              <img src="assets/images/icon/1.png" alt="Icon">
            </div>
            <div class="title">
              <h2>Rychle, profesionálně a diskrétně</h2>
            </div>
          </div>
          <div class="text">
            <p>Naše dámy na úklid vám nabídnou své dlouholeté zkušenosti a profesionální přístup. Spokojenost zákazníka
              je pro nás vždy na prvním místě a tak ručíme za kvalitu námi provedených úklidů.
              <br> <br>
              Objednejte si úklid dle vašich preferencí během pár minut na stránce <a routerLink="/cenik" class="orange">ceníku</a>.
              Cena je vždy transparentní a pevná, nemusíte se tedy obávat, že bychom k vám posílali někoho na výpočet
              koncové částky.
            </p>
          </div>
          <!--          <div class="bottom">-->
          <!--            <div class="video-holder-box">-->
          <!--              <div class="img-holder">-->
          <!--                <img src="assets/images/resources/video-gallery.jpg" alt="Awesome Image">-->
          <!--                <div class="icon-holder">-->
          <!--                  <div class="icon">-->
          <!--                    <div class="inner">-->
          <!--                      <a class="html5lightbox" title="Fouens Video Gallery"-->
          <!--                         href="https://www.youtube.com/watch?v=p25gICT63ek">-->
          <!--                        <span class="flaticon-play-button"></span>-->
          <!--                      </a>-->
          <!--                    </div>-->
          <!--                  </div>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--&lt;!&ndash;            <div class="title-holder-box">&ndash;&gt;-->
          <!--&lt;!&ndash;              <h4>Click on this video to check how<br> we work with <span>Our Clients</span></h4>&ndash;&gt;-->
          <!--&lt;!&ndash;            </div>&ndash;&gt;-->
          <!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Welcome Area-->


<section class="pricing-area">
  <div class="container">
    <div class="sec-title text-center">
      <h3>Nabízíme</h3>
      <div class="title">Jednorázové i pravidelné úklidy</div>
    </div>
    <div class="row">

      <div class="col-lg-4">
        <div class="single-pricing-box text-center">
          <div class="inner-content">
            <div class="top">
              <h4>Jednorázový</h4>
              <div class="value"><span class="left"></span>-<span class="right">plná cena</span></div>
            </div>
            <ul>
              <li>Jednorázový úklid</li>
              <li>Možnost přidat si doplňkové služby</li>
              <li>Možnost zvolit si generální úklid</li>
            </ul>
          </div>
        </div>
      </div>

<!--      <div class="col-lg-3">-->
<!--        <div class="single-pricing-box text-center">-->
<!--          <div class="inner-content">-->
<!--            <div class="top">-->
<!--              <h4>1x měsíčně</h4>-->
<!--              <div class="value"><span class="left">-</span>10%<span class="right">sleva/úklid</span></div>-->
<!--            </div>-->
<!--            <ul>-->
<!--              <li>Úklid jednou za měsíc</li>-->
<!--              <li>Možnost si úklidy upravovat</li>-->
<!--              <li>Možnost přidávat si doplňkové služby</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          <div class="button">-->
<!--            <a class="btn-one" href="#">Schedule Now</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <div class="col-lg-4">
        <div class="single-pricing-box text-center">
          <div class="inner-content">
            <div class="top">
              <h4>2x měsíčně</h4>
              <div class="value"><span class="left">-</span>10%<span class="right">sleva na úklid</span></div>
            </div>
            <ul>
              <li>Úklid jednou za dva týdny</li>
              <li>Možnost si úklidy upravovat</li>
              <li>Možnost přidávat si doplňkové služby</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="single-pricing-box text-center">
          <div class="inner-content">
            <div class="top">
              <h4>4x měsíčně</h4>
              <div class="value"><span class="left">-</span>20%<span class="right">sleva na úklid</span></div>
            </div>
            <ul>
              <li>Úklid každý týden</li>
              <li>Možnost si úklidy upravovat</li>
              <li>Možnost přidávat si doplňkové služby</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="schedule-text text-center wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="1500ms">
          <h3>Objednejte si svůj úklid <a routerLink="/cenik" class="link" (click)="goToPrices()">nyní</a></h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="benefits-area secpd1">
  <div class="container">
    <div class="sec-title text-center">
      <div class="title">Co zahrnuje běžný úklid domácnosti</div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="benefits-image-box wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <img src="assets/images/resources/koupelna.jpg" alt="Awesome Image">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="benefits-text-box">
          <div class="sec-title">
            <h3>Nablýskaná</h3>
            <div class="title">Koupelna</div>
          </div>
          <div class="inner-content">
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i>Otření skříněk a jiného nábytku</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Čištění vany či sprchového koutu</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Čištění a leštění zrcadel</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Čištění sprchové či vanové zástěny</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Vyčištění baterií</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Vynesení a vymytí odpadkových košů</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Vynesení odpadků</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Umytí WC</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="benefits-image-box wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <img src="assets/images/resources/pokoj.jpg" alt="Awesome Image">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="benefits-text-box">
          <div class="sec-title">
            <h3>Útulný</h3>
            <div class="title">Pokoj</div>
          </div>
          <div class="inner-content">
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i>Ometení pavučin</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Setření prachu z dostupných ploch</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Vyluxování a setření podlahy</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Vynesení odpadků</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Ustlání postele</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Povlečení postele</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Základní vysávání čalouněného nábytku</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="benefits-image-box wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <img src="assets/images/resources/kuchyne.jpg" alt="Awesome Image">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="benefits-text-box">
          <div class="sec-title">
            <h3>Navoněná</h3>
            <div class="title">Kuchyně</div>
          </div>
          <div class="inner-content">
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i>Ometení pavučin</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Setření prachu z dostupných ploch</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Mytí a odstranění mastnot z dostupných ploch</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Umytí nádobí ve dřezu či daní do myčky</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Vyluxování a setření podlahy</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Vynesení odpadků</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Základní vysávání čalouněného nábytku</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Očištění všech spotřebičů (zvenku)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="latest-blog-area">
  <div class="container">
    <div class="sec-title text-center">
      <div class="title">Co zahrnuje generální úklid?</div>
    </div>
    <p class="main-desc">Generální úklid zabere přibližně dvakrát více času, než standardní úklid. Při generálním úklid se čistí celý domov důkladně. <br> Podrobnější popis úkonů naleznete v seznamech níže.</p>
    <div class="row">
      <!--Start single blog post-->
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="single-blog-post mxwidth">
          <div class="img-holder">
            <img src="assets/images/resources/koupelna_min.jpg">
            <div class="post-date">
              <h6>Koupelna</h6>
            </div>
          </div>
          <div class="text-holder">
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i>Utření prachu na všech kosmetických přípravcích v koupelně a hezké vyskládání</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Vydrhnutí spár mezi dlaždicemi</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Vymytí vnitřních prostorů skříněk</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="single-blog-post mxwidth">
          <div class="img-holder">
            <img src="assets/images/resources/kuchyne_min.jpg">
            <div class="post-date">
              <h6>Kuchyně</h6>
            </div>
          </div>
          <div class="text-holder">
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i>Odmaštění a vyčistění mikrovlné trouby</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Vyčištění vnitřku ledničky a mrazáku</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Odmaštění digestoře</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Vyndání veškerého nádobí z kuchyňské linky a kompletní vymytí vnitřních prostor.</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Odmaštění a vyčištění vnitřku trouby</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Vyčištění spár obkladů</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="single-blog-post mxwidth">
          <div class="img-holder">
            <img src="assets/images/resources/pokoj_min.jpg">
            <div class="post-date">
              <h6>Ostatní</h6>
            </div>
          </div>
          <div class="text-holder">
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i>Úklid za skříněmi</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Vysávání zákoutí</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Vysávání prostoru za radiátory</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Mytí dveří včetně klik a zárubní</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Očištění stropních osvětlení</li>
            </ul>
          </div>
        </div>
      </div>
      <!--End single blog post-->
    </div>
  </div>
</section>

<!--Start Working Steps area-->
<section class="working-steps-area">
  <div class="container">
    <div class="sec-title text-center">
      <h3>Tak jednoduché</h3>
      <div class="title">Objednání online během pár minut</div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <ul class="fix text-center">
          <!--Start Single working steps Box-->
          <li class="single-working-steps-box wow fadeInUp">
            <div class="icon-holder">
              <span class="flaticon-clock"></span>
              <div class="count">
                <h5>01</h5>
              </div>
            </div>
            <div class="text-holder">
              <h4><a href="#">Objednajte si úklid online</a></h4>
              <p>Na stránce ceníku si vyberte služby a termín úklidu</p>
            </div>
          </li>
          <!--End Single working steps Box-->
          <!--Start Single working steps Box-->
          <li class="single-working-steps-box wow fadeInUp" data-wow-delay="300ms">
            <div class="icon-holder">
              <span class="flaticon-handshake-1"></span>
              <div class="count">
                <h5>02</h5>
              </div>
            </div>
            <div class="text-holder">
              <h4><a href="#">Připravte se na uvítání dámy</a></h4>
              <p>Stačí pustit naši dámu na úklid do bytu a zbytek už je na nás</p>
            </div>
          </li>
          <!--End Single working steps Box-->
          <!--Start Single working steps Box-->
          <li class="single-working-steps-box wow fadeInUp" data-wow-delay="600ms">
            <div class="icon-holder">
              <span class="flaticon-cleaning-service"></span>
              <div class="count">
                <h5>03</h5>
              </div>
            </div>
            <div class="text-holder">
              <h4><a href="#">Přeberte si čistý domov</a></h4>
              <p>Užijte si čistý domov</p>
            </div>
          </li>

          <!--End Single working steps Box-->

        </ul>
      </div>
    </div>
  </div>
</section>
<!--End Working Steps area-->

