<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar" [ngClass]="{'active': showSidebar}" *ngIf="isLogged">

    <div class="p-4 pb-0">
      <h4 class="admin-username">CleanDeal Admin</h4>
<!--      <h4 class="admin-username">{{adminUser.username}}</h4>-->
    </div>

    <div class="p-4">
      <ul class="list-unstyled components mb-5" >
        <li>
          <a [routerLink]="['/', 'admin']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon aria-hidden="false" fontIcon="home"></mat-icon> Přehled</a>
        </li>
        <li>
          <a [routerLink]="['/', 'admin', 'orders']" routerLinkActive="active">
            <mat-icon aria-hidden="false" fontIcon="wash"></mat-icon> Objednávky</a>
        </li>
        <li>
          <a [routerLink]="['/', 'admin', 'cleaners']" routerLinkActive="active">
            <mat-icon aria-hidden="false" fontIcon="groups"></mat-icon> Uklízečky</a>
        </li>
        <br>
        <li>
          <a (click)="logoutUser()">
            <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon> Odhlásit se</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" class="">
    <nav class="navbar navbar-top navbar-expand-lg navbar-light bg-light d-block d-lg-none d-xl-none " *ngIf="isLogged">
      <div class="container-fluid">
        <mat-icon *ngIf="!showSidebar" aria-hidden="false" fontIcon="menu" (click)="toggleSidebar()"></mat-icon>
        <mat-icon *ngIf="showSidebar" aria-hidden="false" fontIcon="close" (click)="toggleSidebar()"></mat-icon>
<!--        <button type="button" id="sidebarCollapse" class="btn btn-primary" >-->
<!--&lt;!&ndash;          <i class="fa fa-bars"></i>&ndash;&gt;-->
<!--          <span class="sr-only">Toggle Menu</span>-->
<!--        </button>-->
      </div>
    </nav>

    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
