<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar" [ngClass]="{'active': showSidebar}">
    <div class="p-4 pt-5">
      <ul class="list-unstyled components mb-5">
        <li>
          <a [routerLink]="['/', 'admin']">Přehled</a>
        </li>
        <li>
          <a [routerLink]="['/', 'admin', 'orders']">Objednávky</a>
        </li>
        <li>
          <a [routerLink]="['/', 'admin', 'cleaners']">Uklízečky</a>
        </li>
        <li>
          <hr>
          <a (click)="logoutUser()">Odhlásit se</a>
        </li>
      </ul>


    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-primary" (click)="toggleSidebar()">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>

      </div>
    </nav>

    <router-outlet></router-outlet>

  </div>
</div>
