:root {
  .mat-calendar-body-selected {
    background-color: var(--main-orange) !important;
  }

  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: var(--orange-lightest) !important;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: var(--color-grey-border) !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 1px !important;
  }
}
