.form-section {
  margin-bottom: 30px;

  .label {
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-bottom: 8px;
  }

  &.half-section {
    width: calc(50% - 15px);
    margin-right: 30px;
    display: inline-block;

    &.no-spacing {
      margin-right: 0;
    }
  }

  .check-label {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 8px;
    color: var(--text-dark);
    margin-left: 5px;
  }

}

form {

  .subtitle {
    font-size: 24px;
    line-height: 38px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;


  }

  textarea::-webkit-input-placeholder,
  textarea::placeholder {
    color: var(--color-grey-secondary);
  }

}

.link-box.centered {
  text-align: center;
}

hr.dashed {
  border-style: dashed;
}

