.form-section {
  margin-bottom: 30px;

  .label {
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-bottom: 8px;
  }

  &.half-section {
    width: calc(50% - 15px);
    margin-right: 30px;
    display: inline-block;

    &.no-spacing {
      margin-right: 0;
    }
  }

  .check-label {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 8px;
    color: var(--text-dark);
    margin-left: 5px;
  }

}

form {
  .subtitle {
    font-size: 24px;
    line-height: 38px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;


  }

  textarea::-webkit-input-placeholder,
  textarea::placeholder {
    color: var(--color-grey-secondary);
  }

}

.link-box.centered {
  text-align: center;
}

hr.dashed {
  border-style: dashed;
}

ul.grey-pills-list {
  li {
    background-color: var(--admin-lightest-background);
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 10px;

    &.flex {
      display: flex;
      justify-content: space-between;
    }
  }
}

.badge {
  &.badge-info {
    background-color: var(--main-blue);
    border-radius: 50%;
  }
}

button.btn {
  &.btn-orange {
    background-color: var(--main-orange);
    border-color: var(--main-orange);
    color: #FFFFFF;
  }

  &.btn-blue {
    background-color: var(--main-blue);
    border-color: var(--main-blue);
    color: #FFFFFF;

    &.outline {
      background-color: transparent;
      color: var(--main-blue);

      &:hover {
        background-color: var(--main-blue);
        color: #FFFFFF;
      }
    }
  }
}


