.white-block {
  border-radius: 9px;
  background: #FFFFFF;
  width: 100%;
  display: block;
  padding: 40px;

  .title {
    color: var(--text-dark);
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 30px;

    &.cursive {
      font-family: "Caveat", cursive;
      font-size: 36px;
    }
  }

  &.green {
    padding: 40px 20px;

    .title {
      color: #FFFFFF;
    }

    p {
      font-size: 15px;
      text-align: center;
      line-height: 22px;
      margin-bottom: 40px;
    }

    > section.discount {
      font-size: 15px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      //font-style: italic;

      &:not(:last-of-type) {
        margin-bottom: 6px;
      }

      .discount-value {
        font-weight: 600;
      }
    }
  }
}

.static-page {
  position: relative;
  display: block;
  background: #f5f5f5;
  padding: 120px 0 110px;
  z-index: 1;

  a {
    color: var(--main-orange-darker);
    text-decoration: underline;
  }

  h4 {
    margin-bottom: 10px;
  }

  h2 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 30px;
  }

  ul {
    margin-bottom: 30px;

    li {
      list-style: initial;
      margin-left: 25px;
      margin-bottom: 6px;
      text-align: justify;
    }


    &.bullet-list {
      list-style: circle;

      li {
        color: var(--text-dark);
        margin-bottom: 20px;
      }
    }

    &.numbered-list {
      color: var(--text-dark);

      li {
        list-style: decimal !important;
      }
    }
  }
}

// TABS
.nav-tabs {
  border-width: 0;

  .nav-link {
    background: var(--grey-tab-bg);
    color: var(--admin-text-color-light);
    letter-spacing: 0.06em;
    border-radius: 8px 8px 0 0;
      border-width: 0;

    &.active {
    color: var(--admin-text-color);
    }
  }
}
