@media only screen and (max-width: 767px) {
  // PRICING
  .pricing-area {
    padding-top: 40px;
  }

  .form-section.half-section {
    width: 100%;
    margin-right: 0;
    display: block;
  }

  .summary-block {
    margin-top: 40px;
  }

  // FAQ
  .provide-area {
    padding: 40px 14px;
  }

  .white-block{
    padding: 20px;
  }

  .bottom-price-bar {
    display: block !important;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    padding: 14px 20px;
    background: #ffffff;
    border-top: 1px solid var(--color-grey-border);
  }

  .static-page {
    padding-top: 40px;
  }

  .secpd1 {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .benefits-area > .container > .row {
    margin-bottom: 40px;
  }

  hr.main-hr {
    padding: 0 0 30px !important;
  }
}
