@media only screen and (max-width: 767px) {
  // PRICING
  .pricing-area {
    padding-top: 40px;
  }

  .form-section.half-section {
    width: 100%;
    margin-right: 0;
    display: block;
  }

  .summary-block {
    margin-top: 40px;
  }

  // FAQ
  .provide-area {
    padding: 40px 14px;
  }

  .white-block{
    padding: 20px;
  }
}
