<section class="pricing-area">
  <div class="container">
    <div class="row" *ngIf="!orderSentSuccessfully">
      <div class="col-lg-7 col-sm-12">
        <div class="white-block"
             [ngClass]="{'order-sent': orderSendClicked}">
          <div class="sec-title text-center">
            <h3>Rychle a jednoduše</h3>
            <div class="title">Nastavte si úklid</div>
          </div>

          <app-order-form
            (summaryPriceItemsChanged)="onSummaryPriceItemsChanged($event)"
            (extrasPriceItemsChanged)="onExtrasPriceItemsChanged($event)"
            (realCleaningTimeChanged)="onRealCleaningTimeChanged($event)"
            (ladiesForTheJobChanged)="onLadiesForTheJobChanged($event)"
            (finalPriceChanged)="onFinalPriceChanged($event)"
            (repeatedPriceChanged)="onRepeatedPriceChanged($event)"
            (orderSentSuccessfullyChanged)="onOrderSentSuccessfullyChanged($event)"
            (orderSendClickedChanged)="onOrderSendClickedChanged($event)"
            (summaryTimeDetailsChanged)="onSummaryTimeDetailsChanged($event)"
            (emailChanged)="onEmailChanged($event)"
            (hideMobilePriceBarChanged)="onHideMobilePriceBarChanged($event)"
          ></app-order-form>

        </div>
      </div>

      <div class="col-lg-5 col-sm-12">
        <div class="white-block summary-block">
          <div class="title">Souhrn poptávky</div>
          <div class="summary-block-item">
            <section class="section-icon">
              <img src="assets/images/icon/order/home.svg" alt="">
            </section>
            <div class="prices-block">
              <section class="prices-table" *ngFor="let item of summaryPriceItems">
                <div class="items">
                  <section [innerHTML]="item.name">
                  </section>
                </div>
                <div class="prices">
                  {{item.price}}
                </div>
              </section>
              <hr class="dashed" *ngIf="extrasPriceItems.length > 0">
              <span class="prices-table-headline" *ngIf="extrasPriceItems.length > 0">Doplňkové služby</span>
              <section class="prices-table" *ngFor="let item of extrasPriceItems">
                <div class="items">
                  <section [innerHTML]="item.name">
                  </section>
                </div>
                <div class="prices">
                  {{item.price}}
                </div>
              </section>
            </div>
          </div>


          <div class="summary-block-item">
            <section class="section-icon">
              <img src="assets/images/icon/order/calendar.svg" alt="">
            </section>
            <div class="prices-block">
              <section class="prices-table" *ngIf="summaryTimeDetails">
                <div class="items">
                  <section>
                    Příjezd
                  </section>
                </div>
                <div class="prices">
                  {{summaryTimeDetails}}
                </div>
              </section>
              <section class="prices-table" *ngIf="realCleaningTime">
                <div class="items">
                  <section>
                    Orientační doba úklidu
                  </section>
                </div>
                <div class="prices">
                  {{realCleaningTime|number: '1.1-1'}} {{realCleaningTime < 5 ? 'hodiny' : 'hodin'}}
                </div>
              </section>
              <section class="prices-table" *ngIf="ladiesForTheJob > 1">
                <div class="items">
                  <section>
                    Dam na úklid
                  </section>
                </div>
                <div class="prices">
                  {{ladiesForTheJob}}
                </div>
              </section>
            </div>
          </div>

          <hr>

          <div class="price-total" id="price-total" #block>
            <span>Celkem</span>
            <span class="price">{{finalPrice}} Kč</span>
          </div>
          <div *ngIf="!!repeatedPrice" class="price-total repeated">
            <span>Cena za měsíc</span>
            <span class="price">{{repeatedPrice}} Kč</span>
          </div>
        </div>
        <br>
        <div class="white-block summary-block">
          <div class="title">Podmínky úklidu</div>
          <ul class="summary-list">
            <li>Máte vlastní vysavač, schůdky, mop a kbelík</li>
            <li>Vyplňujte prosím údaje tak, aby odpovídali stavu uklízené domácnosti</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="orderSentSuccessfully">
      <div class="col-sm-12">
        <div class="white-block"
             [ngClass]="{'order-sent': orderSendClicked}">
          <div class="sec-title text-center">
            <div class="title">Děkujeme za Vaši poptávku</div>
            <br>
            <p>Souhrn jsme Vám zaslali na e-mail <strong>{{email}}</strong> </p>
            <p class="orange">Prosíme o <u>potvrzení</u> této nabídky přímo v zaslaném emailu.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="price-bar-wrapper" [ngStyle]="{'display': hideMobilePriceBar ? 'none' : 'block'}">
  <section class="bottom-price-bar">
    <div class="price-total">
      <span>Cena celkem</span>
      <span class="price">{{finalPrice}} Kč</span>
    </div>
  </section>
</div>

<!-- Modal -->
<!--<div class="modal fade cd-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true"-->
<!--     [ngClass]="{'show': showNoDateCapacityModal}"-->
<!--&gt;-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h3 class="modal-title">Upozornění</h3>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <p>Pro daný datum nemáme potřebnou pracovní kapacitu. Vyberte si prosím jiný termín.</p>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-primary btn-one submit-form"-->
<!--        (click)="doHideNoDateCapacityModal()">Ok</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
