<section class="pricing-area">
  <div class="container">
    <div class="row" *ngIf="!orderSentSuccessfully">
      <div class="col-lg-7 col-sm-12">
        <div class="white-block"
             [ngClass]="{'order-sent': orderSendClicked}">
          <div class="sec-title text-center">
            <h3>Rychle a jednoduše</h3>
            <div class="title">Nastavte si úklid</div>
          </div>
          <form [formGroup]="orderForm">

            <section class="form-section">
              <h5 class="label">Typ úklidu</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="cleaningType"
                  (change)="changeCleaningType($event)">
                  <option *ngFor="let ct of cleaningTypes" [value]="ct.id">{{ct.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section">
              <h5 class="label">Typ objektu</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="homeType"
                  (change)="changeHomeType($event)">
                  <option *ngFor="let item of homeTypes" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">Počet pater</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="houseFloors"
                  (change)="changeHouseFloors($event)">
                  <option *ngFor="let item of houseFloors" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section">
              <h5 class="label">Jak často bude probíhat úklid</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="frequency"
                  (change)="changeFrequency($event)">
                  <option *ngFor="let item of frequency" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section">
              <h5 class="label">Počet koupelen</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="bathrooms"
                  (change)="changeBathrooms($event)">
                  <option *ngFor="let item of bathrooms" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">Počet kuchyní / kuchyňských koutů</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="kitchens"
                  (change)="changeKitchens($event)">
                  <option *ngFor="let item of kitchens" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section">
              <h5 class="label">Počet ostatních místností</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="rooms"
                  (change)="changeRooms($event)">
                  <option *ngFor="let item of rooms" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">Počet samostatných WC</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="toilets"
                  (change)="changeToilets($event)">
                  <option *ngFor="let item of toilets" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section">
              <h5 class="label">Máte vlastní čisticí prostředky</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="ownCleaningStuff"
                  (change)="changeOwnCleaningStuff($event)">
                  <option *ngFor="let item of ownCleaningStuff" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">Domácí zvířata</h5>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="pets"
                  formControlName="pets"/>
              </div>
            </section>

            <section class="form-section half-section">
              <h5 class="label">Míra znečištění</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="dirty"
                  (change)="changeDirty($event)">
                  <option *ngFor="let item of dirty" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">Výměra domácnosti (m<sup>2</sup>)</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="yardage"
                  (change)="changeYardage($event)">
                  <option *ngFor="let item of yardage" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section">
              <h5 class="label">Dodatečné informace k úklidu</h5>
              <div class="input-group">
                <textarea
                  class="form-control"
                  placeholder="Vyplňte, co bychom měli vědět před započetím úklidu"
                  formControlName="comments">
                </textarea>
              </div>
            </section>
          </form>

          <hr class="dashed">
          <h5 class="subsection-headline">Dodatečné služby</h5>

          <form [formGroup]="extrasForm">
            <section class="form-section half-section">
              <h5 class="label">Mytí a leštěšní oken (m<sup>2</sup> plochy skel)</h5>
              <!--              TODO pridat info ikonu a vysvetlit mereni oken-->
              <div class="input-group">
                <input
                  type="number"
                  min="0"
                  [max]="maxWindowsMeters"
                  step="1"
                  class="form-control"
                  name="windows"
                  formControlName="windows"
                  (change)="windowsChanged($event)"/>
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">Čištění žaluzií (m<sup>2</sup> plochy)</h5>
              <!--              TODO pridat info ikonu a vysvetlit mereni oken-->
              <div class="input-group">
                <input
                  type="number"
                  min="0"
                  [max]="maxWindowBlindsMeters"
                  step="1"
                  class="form-control"
                  name="windowBlinds"
                  formControlName="windowBlinds"
                  (change)="windowBlindsChanged($event)"/>
              </div>
            </section>
          </form>

          <hr>
          <form [formGroup]="orderForm">
            <h3 class="subtitle">Kdy preferuji úklid a kde</h3>

            <section class="form-section half-section">
              <h5 class="label">Datum</h5>
              <div class="input-group date-input">
                <mat-form-field appearance="outline">
                  <input matInput
                         [min]="dateMinDate"
                         [max]="dateMaxDate"
                         formControlName="date"
                         [matDatepicker]="matDatePicker"
                         autocomplete="off"
                         [placeholder]="'Vyberte datum'"
                         [matDatepickerFilter]="dateFilter"
                         (focus)="matDatePicker.open()"
                         (dateChange)="onDateChange()"
                  />
                  <mat-datepicker-toggle matPrefix [for]="matDatePicker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #matDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">Čas zahájení úklidu</h5>
              <div class="input-group">
                <select
                  class="custom-select"
                  formControlName="time"
                  (change)="changeTime()">
                  <option *ngFor="let item of availableTimesOptions" [value]="item.id">{{item.label}}</option>
                </select>
              </div>
            </section>

            <section class="form-section half-section">
              <h5 class="label">Adresa, č.p. (pouze Praha)</h5>
              <div class="input-group text-input">
                <input
                  type="text"
                  class="form-control"
                  name="street"
                  formControlName="address"/>
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">PSČ</h5>
              <div class="input-group text-input">
                <input
                  type="text"
                  class="form-control"
                  name="zip"
                  formControlName="pscNumber"/>
              </div>
            </section>
          </form>

          <hr>

          <form [formGroup]="userForm">
            <h3 class="subtitle">Informace o vás</h3>

            <section class="form-section half-section">
              <h5 class="label">Jméno</h5>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  formControlName="name">
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">Příjmení</h5>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="surname"
                  formControlName="surname">
              </div>
            </section>

            <section class="form-section half-section">
              <h5 class="label">E-mail</h5>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="email"
                  formControlName="email">
              </div>
            </section>

            <section class="form-section half-section no-spacing">
              <h5 class="label">Telefon</h5>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  formControlName="phone">
              </div>
            </section>

            <section class="form-section">
              <h5 class="label">Kontaktní adresa (Ulice, č.p., město, PSČ)</h5>

              <div class="address-match"><input type="checkbox" id="contactAddressMatchesCleaning" formControlName="contactAddressMatchesCleaning" (change)="changeContactAddressMatch()"/>
                <label for="contactAddressMatchesCleaning">Adresa je shodná s adresou uklízeného objektu</label></div>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="address"
                  formControlName="contactAddress">
              </div>
            </section>
          </form>

          <form [formGroup]="orderForm">
          <span class="agree-to-terms">
            <input type="checkbox" formControlName="confirmation" id="confirmation"/>
            <label for="confirmation">Souhlasím s <a [routerLink]="['/' , webUrls.TERMS]" target="_blank">obchodními podmínkami</a> a <a
              [routerLink]="['/', webUrls.GDPR]" target="_blank">ochranou osobních údajů</a></label>
          </span>
          </form>
          <span *ngIf="orderSendClicked && !onlyConfirmationMissing && (!orderForm.valid || !userForm.valid)"
                class="fill-required">Vyplňte prosím všechna povinná pole</span>
          <span *ngIf="orderSendClicked && onlyConfirmationMissing" class="fill-required">Musíte zaškrnout souhlas s obchodními podmínkami a ochranou osobních údajů</span>
          <span *ngIf="errorOnSubmit" class="fill-required">Omlouváme se, ale při odesílání poptávky došlo k chybě. Zkuste to prosím později.</span>
          <div class="link-box centered">
            <a *ngIf="!sendingOrder" class="btn-one submit-form" (click)="onOrderSubmit()">Odeslat poptávku úklidu</a>
            <a *ngIf="sendingOrder" class="btn-one submit-form disabled">Odesílám poptávku...</a>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-sm-12">

        <div class="white-block summary-block">
          <div class="title">Souhrn poptávky</div>
          <div class="summary-block-item">
            <section class="section-icon">
              <img src="assets/images/icon/order/home.svg" alt="">
            </section>
            <div class="prices-block">
              <section class="prices-table" *ngFor="let item of summaryPriceItems">
                <div class="items">
                  <section [innerHTML]="item.name">
                  </section>
                </div>
                <div class="prices">
                  {{item.price}}
                </div>
              </section>
              <hr class="dashed" *ngIf="extrasPriceItems.length > 0">
              <span class="prices-table-headline" *ngIf="extrasPriceItems.length > 0">Doplňkové služby</span>
              <section class="prices-table" *ngFor="let item of extrasPriceItems">
                <div class="items">
                  <section [innerHTML]="item.name">
                  </section>
                </div>
                <div class="prices">
                  {{item.price}}
                </div>
              </section>
            </div>
          </div>


          <div class="summary-block-item">
            <section class="section-icon">
              <img src="assets/images/icon/order/calendar.svg" alt="">
            </section>
            <div class="prices-block">
              <section class="prices-table" *ngIf="summaryTimeDetails">
                <div class="items">
                  <section>
                    Příjezd
                  </section>
                </div>
                <div class="prices">
                  {{summaryTimeDetails}}
                </div>
              </section>
              <section class="prices-table" *ngIf="realCleaningTime">
                <div class="items">
                  <section>
                    Orientační doba úklidu
                  </section>
                </div>
                <div class="prices">
                  {{realCleaningTime|number: '1.1-1'}} {{realCleaningTime < 5 ? 'hodiny' : 'hodin'}}
                </div>
              </section>
              <section class="prices-table" *ngIf="ladiesForTheJob > 1">
                <div class="items">
                  <section>
                    Dam na úklid
                  </section>
                </div>
                <div class="prices">
                  {{ladiesForTheJob}}
                </div>
              </section>
            </div>
          </div>

          <hr>

          <div class="price-total" id="price-total" #block>
            <span>Celkem</span>
            <span class="price">{{finalPrice}} Kč</span>
          </div>
          <div *ngIf="!!repeatedPrice" class="price-total repeated">
            <span>Cena za měsíc</span>
            <span class="price">{{repeatedPrice}} Kč</span>
          </div>
        </div>
        <br>
        <div class="white-block summary-block">
          <div class="title">Podmínky úklidu</div>
          <ul class="summary-list">
            <li>Máte vlastní vysavač, schůdky, mop a kbelík</li>
            <li>Vyplňujte prosím údaje tak, aby odpovídali stavu uklízené domácnosti</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="orderSentSuccessfully">
      <div class="col-sm-12">
        <div class="white-block"
             [ngClass]="{'order-sent': orderSendClicked}">
          <div class="sec-title text-center">
<!--            <h3>Úklid byl odeslán</h3>-->
            <div class="title">Děkujeme za Vaši poptávku</div>
            <br>
            <p>Souhrn jsme Vám zaslali na e-mail <strong>{{userForm.value?.email}}</strong> </p>
            <p class="orange">Prosíme o <u>potvrzení</u> této nabídky přímo v zaslaném emailu.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="price-bar-wrapper" [ngStyle]="{'display': hideMobilePriceBar ? 'none' : 'block'}">
  <section class="bottom-price-bar">
    <div class="price-total">
      <span>Cena celkem</span>
      <span class="price">{{finalPrice}} Kč</span>
    </div>
  </section>
</div>

<!-- Modal -->
<div class="modal fade cd-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true"
     [ngClass]="{'show': showNoDateCapacityModal}"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Upozornění</h3>
      </div>
      <div class="modal-body">
        <p>Pro daný datum nemáme potřebnou pracovní kapacitu. Vyberte si prosím jiný termín.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-one submit-form"
        (click)="doHideNoDateCapacityModal()">Ok</button>
      </div>
    </div>
  </div>
</div>
