:root {
  --main-orange: #F48067;
  --main-orange-darker: #F86C4D;
  --main-blue: #1fc6c7;
  --main-red: #E7492F;
  --red-lightest: #fff9f8;
  --orange-lightest: #FEF7F6;

  // TEXT
  --text-dark: #1B1C1E;
  --color-grey-secondary: #9EA4B7;
  --color-grey-tertiary: #DED8EB;
  --color-grey-lightest: #EEEEEE;
  --color-grey-border: #ced4da;

  // LAYOUT
  --mobile-breakpoint: 767px;

  // ADMIN
  --admin-background: #F5F5F9;
  --admin-lightest-background: rgba(67, 89, 113, 0.04);
  --admin-text-color: #566a7f;
  --admin-text-color-light: #697a8d;
  --admin-text-color-lighter: #a1acb8;
  --admin-orange-background: #ffece7;
  --admin-text-color-orange: #F86C4D;
  --admin-text-color-red: #ff3e1d;
}
