:root {
  --main-orange: #F48067;
  --main-orange-darker: #F86C4D;
  --main-blue: #1fc6c7;
  --main-red: #E7492F;
  --red-lightest: #fff9f8;
  --orange-lightest: #FEF7F6;

  // TEXT
  --text-dark: #1B1C1E;
  --color-grey-secondary: #9EA4B7;
  --color-grey-tertiary: #DED8EB;
  --color-grey-border: #ced4da;

  // LAYOUT
  --mobile-breakpoint: 767px;
}
