<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content text-center clearfix">
          <div class="breadcrumb-menu">
            <ul class="clearfix">
              <li class="active">Odpovědi na vaše</li>
            </ul>
          </div>
          <div class="title">
            <h1>Časté otázky</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Kde poskytujeme naše úklidové služby?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Úklidové služby aktuálně poskytujeme pouze na území Prahy, po telefonické dohodě lze rozšířit na okolí Prahy.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Jak uhradím za úklidové služby?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Po provedení úklidových prací vystavujeme a odesíláme na zadaný e-mail fakturu, kterou zákazník uhrazuje převodem na náš bankovní účet. Pro jednodušší provedení platby bude na faktuře QR kód. Po telefonické dohodě lze platit v hotovosti po provedení úklidu.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Co se očekává od zákazníka?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Od Vás očekáváme součinnost v rámci uvedených podmínek úklidu, zejména úklidové prostředky (vysavač, kbelík, mop), přenosné schůdky (štafle) případně další prostředky, které by měly být při úklidu používány. Rádi od Vás uslyšíme, jak si přejete úklid provést.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Jak je to s čistícími prostředky?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Pokud u nás poptáváte standardní úklid předpokládáme, že místo úklidu je běžně znečištěno a k úklidu budou postačovat běžně užívané čisticí prostředky. Pokud u nás poptáváte generální úklid, upřednostňujeme, že čisticí prostředky si objednáte u nás v rámci objednávky (pracujeme s prostředky, u kterých máme vyzkoušenou účinnost). Pokud bude zákazník trvat na použití vlastních prostředků, ani tomu se nebráníme, ale upozorňujeme, že ne vždy se reklamní slogany shodují s reálnými schopnostmi prostředku.
          </p>

          <br>
            Níže je doporučení, co mít připraveno.
            <br>
            <ul>
          <li>
            - Čistič podlah dle jejího typu
          </li>
          <li>
            - Prostředky do kuchyně (pro odmaštění povrchů)
          </li>
          <li>
            - Prostředky do koupelny a WC
          </li>
          <li>
            - Prostředek pro lesklé povrchy a skla
          </li>
          <li>
            - Čistič povrchů nábytku (Přípravek na dřevo v případě dřevěného nábytku)
          </li>
        </ul>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Jaký je rozsah činností úklidu?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            <strong>Základní rozsah hygienického úklidu domácnosti</strong>
            <br>
            Kuchyň
            <br>
            Koupelna
            <br>
            1 místnost
            <br>
            Chodba
          </p>
          <br>
          <p>
            <strong>Generální úklid</strong>
            <br>
            Vše ze základního úklidu
            <br>
            Vnitřek trouby, mikrovlnky, lednice
            <br>
            Odmastění digestroře
            <br>
            Hloubkové vyčištění prostor v koupelně a na WC
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Co je součástí základních činností běžného úklidu?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Ometení pavučin
            <br>
            Setření prachu z dostupných ploch
            <br>
            Vyleštění zrcadel a lesklých povrchů (včetně lakovaného nábytku)
            <br>
            Vyluxování a setření podlah
            <br>
            Vynesení a vymytí odpadkových košů
            <br>
            Vyčištění všech odtoků
            <br>
            Umytí vany, sprchového koutu, umyvadla a toalety
            <br>
            Vyčištění baterií
            <br>
            Umytí a uklizení nádobí, ručně nebo v myčce
            <br>
            Omytí kuchyňské linky, obkladů, lednice a sporáku

          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Nebyl úklid proveden kvalitně?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Kvalitu výsledného úklidu považujeme za zásadní cestu k úspěchu. Máme nastavené procesy pro průběžné sledování kvality a kontroly úklidových služeb. Budeme rádi za Vaši zpětnou vazbu a samozřejmě, pokud nebyl úklid proveden kvalitně dle vašeho očekávání, lze reklamaci podat přímo na e-mail info@cleandeal.cz nebo telefonicky.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Něco se rozbilo?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Zásadní je reagovat rychle a zajistit důslednou dokumentaci, aby mohla být škoda řádně kompenzována. Škodu nahlásíme na pojišťovnu a zajistíme kompenzaci.
            <br><br>
            Pořiďte minimálně 5 kvalitních fotografií poškozené věci. Z fotek by měla být škoda vidět zřetelně v detailu i z dálky. Kvalita fotek je velmi důležitá.
            <br>
            Škodu hlaste ihned. Nejjistější forma nahlášení škody není telefonicky, ale skrze e-mail. Pište na info@cleandeal.cz.
            <br>
            Potřebný obsah e-mailu je:
            <br>
            popis poškozené věci
            <br>
            množství poškozených věcí
            <br>
            pořizovací cena poškozené věci
            <br>
            termín úklidu, kdy ke škodě mohlo dojít
            <br>
            fotografie dle pokynů viz bod 1
            <br><br>
            Pojišťovna případy řeší v časovém rozpětí 1 až 2 měsíců. Zákaznická podpora Vás bude informovat o průběhu i formě kompenzace.

          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Něco se ztratilo?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Pokud jste si ztrátou movité věci jistí, ohlašte prosím tuto skutečnost ihned na policii a také nám prosím pošlete shrnutí incidentu na info@cleandeal.cz nebo zavolejte na naše číslo.
            <br><br>
            Máme průběžné kontrolní mechanismy, aby pro takové incidenty nebyl prakticky žádný prostor. Avšak důsledná spolupráce zákazníků je součástí prevence a je i nezbytná (viz VOP).

          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Nedorazil pracovník na úklid?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Ověřte si prosím, zda jsme Vás o nemožnosti provedení úklidových služeb neinformovali formou e-mailu (e-mail mohl spadnout i do spamu) nebo nemáte od nás nepřijatý hovor, v rámci kterého jsme Vás chtěli o výpadku našich služeb informovat.
            <br><br>
            Zcela ojediněle se může přihodit, že pracovník místo úklidu obtížně nachází, stává se tak zejména v případě, kdy nejsou čitelná jména na domovních zvoncích. Kontaktujte nás prosím na našem telefonním čísle nebo e-mailu: info@cleandeal.cz.
            <br><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Můžu zažádat o výměnu dámy na pravidelný úklid?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
           Ano, o změnu stačí zažádat e-mailem nebo telefonicky.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
