<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content text-center clearfix">
          <div class="breadcrumb-menu">
            <ul class="clearfix">
              <li class="active">Odpovědi na vaše</li>
            </ul>
          </div>
          <div class="title">
            <h1>Časté otázky</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Kam všude si lze objednat úklid?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Úklid momentálně poskytujeme pouze na území Prahy
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Jak uhradím službu úklidu?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Po úklidu vám vystavíme fakturu, kterou uhradíte bankovním převodem. Pro jednodušší platbu bude možné také zaplacení pomocí QR kódu uvedeném na faktuře.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Co se očekává od zákazníka?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Poskytnout instrukce pro vynesení odpadu
            <br>
            Specifikovat případné místnosti, kam nechodit vůbec
            <br>
            Upozornit na speciální povrchy, popř. speciální čistící prostředky, pomůcky
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Jak je to s čistícími prostředky?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Dostatečné čisticí prostředky a nástroje jsou nezbytné pro realizaci úklidu řádné kvality a dostačujícího
            rozsahu. Prostředky byste měli mít pro dámu připraveny doma, pokud nemáte nevadí, prostředky si za určitou
            částku dovezeme sami.
            Níže je doporučení, co mít připraveno.
            <br>
            Prostředky do kuchyně
            <br>
            Pro odmaštění povrchů
            <br>
            Pro umytí kuchyňské desky
            <br>
            Pro nerezovou lednici
            <br>
            Pro odstranění vodního kamene
            <br>
            Prostředky do koupelny a WC
            <br>
            Pro odstranění vodního kamene
            <br>
            WC čistič
            <br>
            Prostředky do ostatních místností bytu…
            <br>
            Alkoholový čistič pro lesklé povrchy a skla
            <br>
            Přípravek na dřevo ( v případě dřevěného nábytku)
            <br>
            Čistič podlah dle jejího typu
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Jaký je rozsah činností úklidu?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            <strong>Základní rozsah hygienického úklidu domácnosti</strong>
            <br>
            Kuchyň
            <br>
            Koupelna
            <br>
            1 místnost
            <br>
            Chodba
          </p>
          <br>
          <p>
            <strong>Generální úklid</strong>
            <br>
            Vše ze základního úklidu
            <br>
            Vnitřek trouby, mikrovlnky, lednice
            <br>
            Odmastění digestroře
            <br>
            Hloubkové vyčištění prostor v koupelně a na WC
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Co je součástí základních činností běžného úklidu?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Ometení pavučin
            <br>
            Setření prachu z dostupných ploch
            <br>
            Vyleštění zrcadel a lesklých povrchů (včetně lakovaného nábytku)
            <br>
            Vyluxování a setření podlah
            <br>
            Vynesení a vymytí odpadkových košů
            <br>
            Vyčištění všech odtoků
            <br>
            Umytí vany, sprchového koutu, umyvadla a toalety
            <br>
            Vyčištění baterií
            <br>
            Umytí a uklizení nádobí, ručně nebo v myčce
            <br>
            Omytí kuchyňské linky, obkladů, lednice a sporáku

          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Nebyl úklid proveden kvalitně?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Kvalitu výsledného úklidu považujeme za naprosto zásadní cestu k úspěchu. Máme nastavené procesy pro intenzivní sledování a kontroly průběžně.
          </p>
          <br>
          <p>
            V případě opravdu zásadního pochybení v kvalitě úklidu nebo přístupu dámy lze stížnost poslat přímo na email info@cleandeal.cz nebo telefonicky.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Něco se rozbilo?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Zásadní je reagovat rychle a zajistit důslednou dokumentaci, aby mohla být škoda řádně kompenzována. Škodu nahlásíme na pojišťovnu a zajistíme kompenzaci.
            <br><br>
            Pořiďte minimálně 5 kvalitních fotografií poškozené věci. Z fotek by měla být škoda vidět zřetelně v detailu i z dálky. Kvalita fotek je velmi důležitá.
            <br>
            Škodu hlaste ihned. Nejjistější forma nahlášení škody není telefonicky, ale skrze e-mail. Pište na info@cleandeal.cz.
            <br>
            Potřebný obsah e-mailu je:
            <br>
            popis poškozené věci
            <br>
            množství poškozených věcí
            <br>
            pořizovací cena poškozené věci
            <br>
            termín úklidu, kdy ke škodě mohlo dojít
            <br>
            fotografie dle pokynů viz bod 1
            <br><br>
            Pojišťovna případy řeší v časovém rozpětí 1 až 2 měsíců. Zákaznická podpora Vás bude informovat o průběhu i formě kompenzace.

          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Něco se ztratilo?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Ztráta „věci“ je velmi vážná věc. Je třeba reagovat rychle. Pokud jste si ztrátou „věci“ jistí, ihned incident nahlaste na policii a také pošlete shrnutí incidentu na info@cleandeal.cz nebo volejte na naše číslo uvedené v patičce.
            <br><br>
            Máme průběžné kontrolní mechanismy, aby pro takové incidenty nebyl vůbec žádný prostor. Avšak důsledná spolupráce zákazníků je nezbytná.
            <br>
            Tip: Chraňte svůj domov důsledně
            <br><br>
            1. Hotovost a šperky je třeba řádně uschovat „pod pokličku“.
            Uschovat si hotovost do šuplíku, knihovny či pracovního stolu, není důsledná bezpečnost. Najděte ve svém bytě místo s omezeným přístupem pro jiné osoby.
            <br><br>
            2. Domácí mini sejf, nabízí 100% jistotu a věčný klid.
            Pokud patříte k těm, kteří z povahy své práce či životního stylu mají vyšší hotovost ve své domácnosti běžně, domácí sejf je 100 % bezpečí i klidu.
            <br><br>
            3. Monitorujte pomocí domácí špionážní kamery klíčovou zónu NONSTOP.
            Domácí mini kamery jsou naprosto běžnou záležitostí pro všechny, kteří se rozhodnou službu využívat dlouhodobě. Nemusíte monitorovat byt celý, dostačující je část „zóny“ s uloženými cennostmi.
            <br><br>
            Navíc, jako CleanDeal garantujeme úhradu krádeže v plné výši, pokud je poskytnut video záznam o daném incidentu.

          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Nedorazila dáma na úklid?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
            Dáma může bloudit v okolí a hledat adresu, možná stojí u hlavních dveří/zvonků, nedaří se jí najít Vaše jméno, telefon se jí vybil nebo si Vaše číslo neuložila.
            <br><br>
            Ověřte, zda jsme Vás o absenci dámy neinformovali formou e-mailu (e-mail mohl spadnout do spamu) nebo hovoru z našeho čísla.
            <br><br>
            Tip: Pokud je linka obsazená nebo voláte o víkendu, nedokážeme reagovat dostatečně rychle a situaci ověřit ihned. V takovém případě vyčkejte na místě alespoň 30 minut, bude-li to možné. Pokud do této doby dáma nedorazí, je pravděpodobnější, že se něco přihodilo a nedorazí vůbec. Prosíme Vás, dejte nám absenci dámy vědět na e-mail: info@cleandeal.cz.
            <br><br>

            Co nejrychleji objasníme situaci a zajistíme náhradní termín úklidu


          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="provide-area">
  <div class="container">
    <div class="row provide-content">
      <div class="col-xl-4">
        <div class="provide-title">
          <div class="sec-title">
            <div class="title">Můžu zažádat o výměnu dámy na pravidelný úklid?</div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="single-provide-text">
          <p>
           Ano, o změnu stačí zažádat emailem nebo telefonicky.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
