<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 ">
      <!-- Default Card Example -->
      <div class="admin-card mb-4">
        <div class="admin-card-body">
          <h5 class="admin-card-title center">
            <img src="/assets/images/resources/logo_klient.svg" alt="">
          </h5>
          <br>
          <form [formGroup]="loginForm">
            <div class="form-group">
              <label for="email">E-mail</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="username"
                placeholder="E-mail">
            </div>
            <div class="form-group">
              <label for="pass">Heslo</label>
              <input
                type="password"
                class="form-control"
                id="pass"
                formControlName="password"
                placeholder="">
            </div>
            <div class="form-group button-section">
              <button type="submit" class="btn btn-orange" (click)="onLoginSubmit()">Přihlásit se</button>
              <a [routerLink]="['/','client', 'forgot-pass']" class="link">Zapomněli jste heslo?</a>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
