<section class="static-page terms-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="white-block">
          <div class="sec-title text-center">
            <div class="title">Všeobecné obchodní podmínky</div>
            <div class="subtitle">ke „Smlouvě o zajištění úklidových služeb“ Společnosti CleanDeal s.r.o.
            </div>
          </div>

          <h2>I. Úvodní a výkladová ustanovení</h2>
          <ul class="bullet-list">
            <li><strong>CleanDeal:</strong> Obchodní společnost CleanDeal s.r.o. IČ: 17357713, se sídlem Jankovcova
              1535/2a, Holešovice,
              170 00 Praha 7, zapsaná v obchodním rejstříku u Městského soudu v Praze oddíl C vložka 370051 (dále jen
              „CleanDeal“), která je zároveň provozovatelem webových stránek www.cleandeal.cz, na nichž lze úklidové
              služby poptat a objednat.
            </li>
            <li>
              <strong>ZÁKAZNÍK:</strong> Fyzická nebo právnická osoba, která je svéprávná a způsobilá k právnímu jednání
              a která uzavřela
              s CleanDeal smlouvu o zajištění úklidových služeb.
            </li>
            <li>
              <strong>VOP:</strong> Tyto všeobecné obchodní podmínky vydané v souladu s ustanovením § 1751 zákona č.
              89/2012 Sb., občanského zákoníku, ve znění pozdějších předpisů (dále jen „<strong>OZ</strong>“) a se
              zákonem č. 634/1992 Sb., o ochraně spotřebitele, ve znění pozdějších předpisů. VOP jsou součástí smlouvy o
              zajištění úklidových služeb a tvoří její nedílnou součást.
            </li>
            <li>
              <strong>SMLOUVA:</strong> Smlouva o zajištění úklidových služeb uzavřená dle ust. § 2586 a násl. OZ, jejíž
              součástí jsou VOP a potvrzení úklidových prací či alternativní nabídka zaslaná na e-mail Zákazníka.
            </li>
            <li>
              <strong>POPTÁVKOVÝ FORMULÁŘ:</strong> Formulář umístěný na webových stránkách <a
              href="http://www.cleandeal.cz">www.cleandeal.cz</a>, prostřednictvím něhož Zákazník poptává provedení
              Úklidových prací ze strany CleanDeal ve vymezených Úklidových prostorách.
            </li>
            <li>
              <strong>ÚKLIDOVÉ SLUŽBY (PRÁCE):</strong> Dílo, které je předmětem Smlouvy, jedná se o poskytované služby
              na základě objednávky Zákazníka. Rozsah Úklidových prací je vymezen objednávkou Zákazníka. Popis hlavních
              vlastností úklidových služeb je podrobně uveden na webových stránkách www.cleandeal.cz.
            </li>
            <li>
              <strong>ÚKLIDOVÉ PROSTORY:</strong> Prostory v nemovitosti (interiér bytu, domu, kanceláře atp.), které
              jsou předmětem Úklidových prací a ve kterých má CleanDeal Úklidové práce vykonávat, jakož i vstup do
              prostor, jejichž využití je pro řádné plnění Smlouvy nezbytné.
            </li>
            <li>
              <strong>POTVRZENÍ PŘIJETÍ POPTÁVKY:</strong> Automaticky generovaný e-mail zaslaný na adresu Zákazníka po
              odeslání poptávky úklidových služeb provedené prostřednictvím Poptávkového formuláře, jehož obsahem je
              souhrn poptávky.
            </li>
            <li>
              <strong>POTVRZENÍ ÚKLIDOVÝCH PRACÍ:</strong> E-mail zaslaný na adresu Zákazníka potvrzující konečnou
              dohodu o provedení Úklidových prací, jehož obsahem je zejména potvrzení místa plnění Úklidových prací,
              termín a čas zahájení Úklidových prací, celková cena prací, detaily úklidu (rozsah a druh poskytovaných
              služeb). Potvrzení Úklidových prací tvoří nedílnou součást Smlouvy.
            </li>
            <li>
              <strong>ALTERNATIVNÍ NABÍDKA:</strong> E-mail zaslaný na adresu Zákazníka, jímž CleanDeal, v případě
              nedostupnosti služeb dle poptávky, nabízí alternativní čas a den úklidových prací, případně i jiné změny.
            </li>
            <li>
              <strong>ÚKLIDOVÉ PROSTŘEDKY A POMŮCKY:</strong> Čistící a desinfekční prostředky, jakož i pomůcky,
              nástroje a přístroje, zařízení či technika, které budou k výkonu Úklidových prací používány.
            </li>
            <li>
              <strong>PRACOVNÍK:</strong> Zaměstnanec či jiná fyzická osoba v obdobném poměru zmocněná CleanDeal k
              výkonu Úklidových prací. CleanDeal Pracovníky též označuje slovy Dáma/y, kdy toto označení užívá shodně
              pro muže i ženy.
            </li>
            <li>
              <strong>ÚKLIDOVÝ DEN:</strong> Sjednaná doba, ve které jsou Pracovníkem prováděny Úklidové práce.
            </li>
            <li>
              <strong>CENÍK:</strong> Orientační ceník úklidových prací, popř. dalších služeb a materiálu zveřejněný na
              webových stránkách <a
              href="http://www.cleandeal.cz">www.cleandeal.cz</a>
            </li>
            <li>
              <strong>VÍCEPRÁCE:</strong> Úklidové služby, které si Zákazník objednává dodatečně (po odeslání Potvrzení
              úklidových prací nebo po stvrzení Alternativní nabídky).
            </li>
            <li>
              <strong>SDĚLENÍ:</strong> Informace od Zákazníka týkající se typu požadovaných služeb, velikosti a stupně
              znečištění úklidových prostor.
            </li>
            <li>
              <strong>PŘEDÁVACÍ PROTOKOL:</strong> Listina, kterou Zákazník podepisuje po skončení Úklidových prací a
              která obsahuje (definice). A souhrn případně provedených Víceprací.
            </li>
            <li>
              <strong>SPOTŘEBITEL:</strong> Fyzická osoba, která mimo rámec své podnikatelské činnosti nebo mimo rámec
              samostatného výkonu svého povolání uzavírá smlouvu s podnikatelem nebo s ním jinak jedná.
            </li>
          </ul>


          <h2>II. Poptávka a uzavření smlouvy o zajištění úklidových služeb</h2>
          <p>K uzavření Smlouvy dochází níže popsaným postupem, kdy Zákazník prostřednictvím Poptávkového formuláře,
            e-mailem nebo telefonicky poptává Úklidové práce v Úklidových prostorách. </p>
          <ul class="numbered-list">
            <li>
              Odešle-li Zákazník poptávku prostřednictvím poptávkového formuláře umístěného na webových stránkách, a
              aktivně proklikem v určeném poli Poptávkového formuláře potvrdí seznámení se s obsahem VOP, má se za to,
              že se seznámil a souhlasí s těmito VOP.
              <br><br>
              Poptávka učiněná prostřednictvím Poptávkového formuláře je ze strany CleanDeal bezprostředně po odeslání
              převzata a zpracována. Vyřízení poptávky probíhá zejména formou e-mailové komunikace. Zákazník je
              informován prostřednictvím jím sděleného e-mailového kontaktu o dostupnosti služeb s tím, že poptávky
              přijaté v průběhu dnů pracovního klidu budou vyřízeny bezodkladně nejbližší pracovní den.
              <br><br>
              V návaznosti na dostupnost služeb, v případě, že se poptávka shoduje s dostupností služeb, odešle
              CleanDeal Zákazníkovi na základě jím učiněné poptávky Potvrzení úklidových prací. V případě, že se
              poptávka neshoduje s dostupností služeb, odešle CleanDeal Zákazníkovi Alternativní nabídku.
              <br><br>
              Smlouva o zajištění Úklidových služeb se pro Zákazníka stává závaznou kladnou odpovědí na Potvrzení
              úklidových prací či kladnou odpovědí na Alternativní nabídku.
            </li>
            <li>
              Odešle-li Zákazník poptávku prostřednictvím e-mailu, CleanDeal odešle Zákazníkovi ve smyslu poptávaných
              prací nabídku a VOP. V závěrečné fázi komunikace zašle CleanDeal Zákazníkovi Potvrzení úklidových prací a
              kladnou odpovědí ze strany Zákazníka na toto Potvrzení úklidových prací se má zato, že smlouva byla
              uzavřena a Zákazník se seznámil a souhlasí s VOP.
            </li>
            <li>
              Kontaktuje-li Zákazník CleanDeal s poptávkou telefonicky, bude mu na jím sdělený e-mail odeslána nabídka a
              VOP. V závěrečné fázi komunikace zašle CleanDeal Zákazníkovi Potvrzení úklidových prací a kladnou odpovědí
              ze strany Zákazníka na toto Potvrzení úklidových prací se má zato, že smlouva byla uzavřena a Zákazník se
              seznámil a souhlasí s VOP.
              <br>
              Při odlišném způsobu sjednávání Smlouvy, než jak je popsáno shora, má se za to, že Smlouva je nejpozději
              uzavřena okamžikem, kdy CleanDeal začne provádět Úklidové práce. Okamžikem uzavření Smlouvy jsou smluvní
              strany takovou smlouvou vázány a vznikají jim vzájemná práva a povinnosti z této Smlouvy vyplývající.
            </li>
          </ul>


          <h2>III. Předmět, doba plnění a trvání Smlouvy</h2>
          <p>
            Předmětem Smlouvy je závazek CleanDeal provést pro Zákazníka dohodnuté Úklidové práce v objednaném rozsahu a
            závazek Zákazníka tyto práce převzít a zaplatit za ně ujednanou cenu.
          </p>
          <p>V případě, že Zákazník v rámci sjednávání Smlouvy zvolil vlastní čisticí prostředky, je povinen je v
            dostatečném množství a v odpovídajícím druhu a kvalitě připravit Pracovníkovi při zahájení Úklidových prací.
            V případě nesplnění této povinnosti je CleanDeal oprávněna dodat úklidové prostředky v nezbytném množství a
            odpovídající kvalitě a účtovat je Zákazníkovi za podmínek uvedených v Ceníku.</p>
          <p>
            CleanDeal započne s výkonem Úklidových prací dnem sjednaným ve Smlouvě. Úklidové práce jsou prováděny v
            dohodnutém místě a dohodnutém termínu, případně s frekvencí uvedenou v Potvrzení úklidových prací či
            Alternativní nabídce.
          </p>
          <p>Tato Smlouva se sjednává na dobu provedení sjednaného typu Úklidových prací ve smyslu Potvrzení úklidových
            prací či Alternativní nabídce. V případě pravidelného zajišťování úklidu se jedná o Smlouvu na dobu
            neurčitou, u jednorázového úklidu se jedná o Smlouvu na dobu určitou.</p>
          <br>


          <h2>IV. Cena prací, fakturace, platební podmínky</h2>
          <p>
            Cena Úklidových prací byla stanovena dohodou Smluvních stran a je uvedena v Potvrzení úklidových prací či
            Alternativní nabídce zaslané Zákazníkovi prostřednictvím e-mailové komunikace.
          </p>
          <p>
            Takto stanovená cena vychází ze Sdělení Zákazníka ohledně typu požadovaných služeb, stupně znečistění a
            velikosti Úklidových prostor.
          </p>
          <p>
            Pro případ, že se Sdělení Zákazníka při započetí provádění úklidových prací ukáže jako neodpovídající reálné
            situaci, bude sjednaná cena za úklidové práce navýšena dle Ceníku na reálný stupeň znečištění a reálnou
            výměru domácnosti. Cena bude též navýšena o poplatek 200 Kč za každou započatou půlhodinu čekání na
            Zákazníka v místě výkonu úklidových služeb.
          </p>
          <p>
            Na navýšení ceny bude Zákazník upozorněn (osobně, telefonicky či formou SMS). Pokud Zákazník navýšení
            odmítne, bude toto odmítnutí považováno za zrušení smlouvy od počátku a Pracovník CleanDeal z místa výkonu
            úklidových prací odejde. Toto se nevztahuje na poplatek za čekání, který je Zákazník povinen zaplatit vždy.
          </p>
          <p>
            Podkladem pro fakturaci Úklidových prací je jejich skutečné provedení Pracovníkem. Zákazník je povinen
            zajistit převzetí Úklidový prací vždy bezodkladně po skončení prací v daném Úklidovém dni. Pracovník se
            Zákazníkem sepíše Předávací protokol, který oba stvrdí svým podpisem. Případné připomínky k vykonaným
            úklidovým pracím je Zákazník povinen uvést do tohoto protokolu. V případě nepřítomnosti Zákazníka při
            dokončení Úklidových prací, kdy nedojde z důvodů nikoliv na straně CleanDeal k potvrzení Předávacího
            protokolu, se považují všechny práce za řádně vykonané a Zákazníkem převzaté.
          </p>
          <p>
            Zákazníkovi budou účtovány i řádně odvedené Vícepráce, odsouhlasené Zákazníkem osobně, telefonicky či formou
            elektronické komunikace.
          </p>
          <p>
            Pakliže uplynula lhůta, ve které může Zákazník odstoupit od smlouvy a Zákazník nezruší sjednané Úklidové
            práce nejpozději 24 hodin před započetím Úklidového dne, bude CleanDeal účtovat Zákazníkovi 100 % ceny
            předpokládaných Úklidových prací dle Smlouvy. Pokud Zákazník nezruší sjednané Úklidové práce nejpozději 48
            hodin před započetím Úklidového dne, bude CleanDeal účtovat Zákazníkovi 50 % ceny předpokládaných Úklidových
            prací dle Smlouvy.
          </p>
          <p>
            V případě jednorázové objednávky nebo prvního poskytnutí Úklidových prací se zavazuje Zákazník realizovat
            platbu ihned po ukončení Úklidových prací, a to v hotovosti oproti vystavenému příjmovému dokladu. Zákazník
            se zavazuje za poskytnuté Úklidové služby zaplatit takto:
          </p>
          <ul class="numbered-list">
            <li>
              Zákazník může uhradit cenu za Úklidové služby v hotovosti přímo Pracovníkovi, bere však na vědomí, že z
              technických důvodů Pracovník nedisponuje hotovostí na případné rozměnění a proto by měl mít Zákazník
              připravenou přesnou částku.
            </li>
            <li>
              Pokud nebude uhrazena cena v hotovosti, Zákazník uhradí za Úklidové služby na základě elektronické faktury
              vystavené CleanDeal a zaslané na e-mailovou adresu Zákazníka. Zákazník tímto souhlasí s elektronickou
              podobou fakturace.
            </li>
          </ul>
          <p>
            CleanDeal vystaví fakturu Zákazníkovi do 5 dnů od dokončení Úklidových prací a v případě Smlouvy na dobu
            neurčitou (opakující se plnění) vystaví fakturu Zákazníkovi souhrnně ke konci měsíce za uplynulé měsíční
            období. Zákazník se zavazuje fakturu uhradit do 3 pracovních dnů od data zaslání faktury.
          </p>
          <p>
            Zákazník se zavazuje fakturu ve lhůtě splatnosti uhradit. Pro případ prodlení s úhradou faktury se Zákazník
            zavazuje zaplatit CleanDeal smluvní pokutu ve výši 0,5% z dlužné částky za každý den prodlení až do úplného
            zaplacení. V případě prodlení bude Zákazníkovi zároveň vystavena upomínka. Za vystavení další upomínky
            právním zástupcem bude Zákazníkovi účtováno 1.500,- Kč.
          </p>

          <br>

          <h2>V. Práva a povinnosti smluvních stran</h2>
          <p>Zákazník je povinen zejména:</p>
          <ul class="bullet-list">
            <li>
              poskytovat CleanDeal v rámci provádění Úklidových prací bezúplatně vodu a elektrickou energii, čistící a
              úklidové prostředky a pomůcky, pokud nejsou součástí sjednaných služeb. Zákazník je odpovědný za to, že
              všechny Úklidové prostředky a pomůcky budou pro výkon úklidových prací vhodné a čisté.
            </li>
            <li>
              mít připraven k provedení Úklidových služeb pro Pracovníka vysavač, schůdky, mop a kbelík, pokud nebylo v
              rámci sjednávaní Smlouvy dohodnuto jinak.
            </li>
            <li>
              v případě, že požaduje užití speciálních Úklidových prostředků na nestandardní povrchy a zařízení, je
              povinen CleanDeal písemně upozornit na speciální požadavky pro ošetření dané plochy, případně uvést
              požadavek na její vyjmutí z Úklidových prací. Pokud tak neučiní před zahájením Úklidových prací, nenese
              CleanDeal žádnou odpovědnost za případné poškození povrchů a zařízení Pracovníkem v důsledku použití
              nevhodného Úklidového prostředku či pomůcky.
            </li>
            <li>
              zabezpečit Pracovníkovi přístup do Úklidových prostor ve sjednaném čase osobně, popř. zmocněním jiné
              osoby. V případě, že Pracovníkovi nebude umožněn výkon Úklidových prací, jak bylo sjednáno Smlouvou,
              považují se v těchto případech všechny práce za řádně vykonané, předané a budou předmětem fakturace.
            </li>
            <li>
              zamezit volnému pohybu zvířat, která jsou umístěna v Úklidových prostorách v době provádění Úklidových
              prací. V případě, že dojde k napadení Pracovníka zvířetem, je Zákazník povinen postupovat v souladu se
              zákonem.
            </li>
            <li>
              udržovat přístroje a vybavení Úklidových prostor a Úklidové prostory v dobrém technickém stavu, tak aby
              nedošlo ke zranění Pracovníka. Zákazník se zavazuje upozornit CleanDeal na poškozené, rozbité či nefunkční
              zařízení domácnosti, stejně jako upozornit na zařízení či další předměty způsobilé přivodit či způsobit
              zranění Pracovníka při provádění Úklidových služeb.
            </li>
            <li>
              seznámit Pracovníka s podmínkami pohybu v Úklidových prostorách, se všemi Úklidovými prostředky a
              pomůckami, které budou k výkonu Úklidových prací používány či budou předmětem Úklidových prací. Zejména je
              povinen ho seznámit s podmínkami obsluhy elektrických spotřebičů a zabezpečovacího zařízení. V souvislosti
              s tímto je Zákazník povinen písemně upozornit na speciální požadavky pro ošetření spotřební elektroniky,
              případně uvést požadavek na její vyjmutí z Úklidových prací. Pokud tak neučiní před zahájením Úklidových
              prací, nenese CleanDeal žádnou odpovědnost za případné poškození spotřební elektroniky Pracovníkem v
              důsledku použití nevhodného Úklidového prostředku či pomůcky.
            </li>
            <li>
              připravit výpočetní techniku k provádění úklidu tak, aby nemohlo dojít ze strany CleanDeal k poškození či
              ztrátě uložených informací. CleanDeal neodpovídá za případné škody, pokud nebude technika uvedena v době
              provádění úklidu do výše definovaného stavu.
            </li>
            <li>
              předat písemný seznam míst, na které Pracovník nemá přístup a seznam činností, které nemá výslovně
              vykonávat, pokud chce stanovit takováto omezení.
            </li>
            <li>
              zajistit ochranu hotovosti a jiných cenností uzamčením či jiným způsobem zabezpečení, tak aby nebyly volně
              přístupné.
            </li>
            <li>
              umožnit CleanDeal provedení nárazové kontroly práce Pracovníka v době výkonu Úklidových prací přímo v
              Úklidových prostorách.
            </li>
            <li>
              sdělit místo, kam je Pracovník oprávněn vynést odpad.
            </li>
          </ul>
          <p>CleanDeal je povinen:</p>
          <ul class="bullet-list">
            <li>
              provést Úklidové práce v rozsahu a lhůtě, které jsou předmětem Smlouvy. Dále je povinen provést i
              Vícepráce v rozsahu a způsobem, které si smluvní strany odsouhlasily v průběhu trvání Smlouvy.
            </li>
            <li>
              provést Úklidové práce prostřednictvím svého Pracovníka.
            </li>
            <li>
              nevyčerpané Úklidové prostředky, jakož i pomůcky, které jsou v majetku Zákazníka, použité k výkonu
              Úklidových prací ponechat v místě provádění úklidových služeb.
            </li>
            <li>
              dodržet rozsah plnění poskytovaného v rámci Úklidového dne. V případě, že nebude moci sjednaný termín
              dodržet, je povinen o tom Zákazníka informovat. Zákazník má právo v tomto případě na náhradní plnění ve
              vzájemně dohodnutém termínu. V případě, že k čerpání náhradního termínu nedojde, není CleanDeal oprávněna
              tyto nevykonané práce účtovat.
            </li>
            <li>
              nepoužívat jakékoli zařízení náležející do majetku Zákazníka k jiným než Smlouvou vymezeným činnostem. K
              tomu je povinen zavázat i své Pracovníky. To neplatí, jedná-li se o odůvodněnou potřebu užití zařízení pro
              komunikaci se Zákazníkem a v případě neobvyklých náhlých událostí.
            </li>
            <li>
              odkládat odpad, jenž vznikne v souvislosti s prováděním činností dle Smlouvy, jen na místo určené
              Zakazníkem.
            </li>
          </ul>

          <h2>VI. Reklamace a odpovědnost za škodu</h2>
          <p>
            Zjištěné nedostatky při provádění Úklidových prací je Zákazník povinen uvést do Předávacího protokolu. V
            odůvodněných případech může Zákazník učinit písemnou reklamaci po ukončení Úklidových prací, nejpozději však
            do 24 hodin od provedení Úklidových prací, písemná forma je zachována prostředky e-mailové komunikace.
            Zákazník je povinen přiložit k reklamaci pořízenou fotodokumentaci, prokazující vadné plnění ze strany
            Pracovníka CleanDeal. Pokud bude shledána reklamace oprávněnou, zajistí CleanDeal následně nápravu bez
            zbytečného odkladu, tj. do 5 pracovních dnů od přijaté reklamace, případně v jiné lhůtě dohodnuté se
            Zákazníkem.
          </p>
          <p>
            CleanDeal odpovídá Zákazníkovi za škodu na jeho majetku vzniklou jednáním Pracovníků v souvislosti s plněním
            Smlouvy. V případě zjištění škody je Zákazník o škodě povinen neprodleně, nejpozději do 24 hodin od ukončení
            Úklidových prací, písemně informovat CleanDeal a pořídit pro něj fotodokumentaci;
          </p>
          <p>
            Způsob nápravy bude určen dohodou smluvních stran. Vzniklá škoda může být nahrazena uvedením v předešlý
            stav, ve lhůtě přiměřené rozsahu vzniklé škody, nebo případným uhrazením vzniklé škody v rámci pojistného
            plnění. K oznámení o vzniku škody podanému Zákazníkem po uplynutí stanovené lhůty nebude přihlédnuto.
            Zákazník je povinen poskytnout CleanDeal veškerou potřebnou součinnost k prokázání vzniku škody (zajištění
            servisních a jiných odborných zpráv, posudků, fotodokumentace apod.) požadovaných v konkrétním případě
            pojišťovací společností.
          </p>
          <p>
            Pro případy odpovědnosti za škodu je CleanDeal pojištěna do výše 1 mil Kč, smluvní strany nepředpokládají v
            rámci plnění dle této Smlouvy škodu vyšší.
          </p>


          <h2>VII. Doručování a kontakty</h2>
          <p>
            Pro doručování jakýchkoli písemností platí e-mailová adresa, kterou Zákazník uvedl v Poptávkovém formuláři,
            v kontaktním e-mailu nebo při telefonické komunikaci. V pochybnostech se považuje za doručenou elektronickou
            poštou písemnost bezchybně odeslaná prostřednictvím elektronické pošty třetí den po jejím odeslání.
            Oboustranně akceptována bude také listinná forma písemností doručována poštovní službou.
          </p>
          <p>
            Smluvní strany odpovídají za to, že po celou dobu platnosti Smlouvy budou adresy pro doručování písemností
            aktuální.
          </p>


          <h2>VIII. Trvání smlouvy, výpověď, odstoupení</h2>
          <p>
            Smlouvou na dobu určitou se rozumí smlouva na provedení jednorázového úklidu ve sjednaný Úklidový den.
          </p>
          <p>
            Smlouvou na dobu neurčitou se rozumí smlouva na provedení opakovaného pravidelného úklidu.
          </p>
          <p>
            Smlouvu může vypovědět kterákoliv ze smluvních stran bez uvedení důvodu. Výpovědní doba činí 14 dnů a její
            běh počíná 1. dnem po doručení písemné výpovědi druhé smluvní straně. V pochybnostech se považuje výpověď
            odeslaná elektronickou poštou za doručenou 3. dnem po jejím odeslání.
          </p>
          <p>
            V průběhu výpovědní lhůty bude úhrada za prováděné Úklidové práce splatná bezprostředně po každém jejich
            ukončení, a to v hotovosti přímo k rukám Pracovníka. Pokud k úhradě nedojde, má CleanDeal právo uplatnit
            okamžité odstoupení od Smlouvy, čímž nezaniká jeho právo na úhradu provedené práce.
          </p>
          <p>
            Každá ze smluvních stran je oprávněna odstoupit od Smlouvy tehdy, poruší-li druhá smluvní strana závažným
            způsobem svoji povinnost vyplývající ze Smlouvy a neodstraní-li tato závadný stav ani v přiměřené lhůtě po
            písemné výzvě. Právní účinky odstoupení nastávají okamžikem doručení písemného oznámení o odstoupení smluvní
            straně, která Smlouvu porušila.
          </p>
          <p>
            Pro případ prodlení Zákazníka s placením Úklidových služeb o více než 10 dní si CleanDeal vyhrazuje právo na
            přerušení plnění, ke kterému se zavázal ve Smlouvě na dobu neurčitou, až do doby připsání dlužné částky na
            jeho účet. CleanDeal je též oprávněna z tohoto důvodu okamžitě jednostranně od smlouvy odstoupit. Účinky
            odstoupení nastávají okamžikem doručení písemného oznámení o odstoupení Zákazníkovi. Dohodou smluvních stran
            je ujednáno, že účinky odstoupení od smlouvy lze odvolat se souhlasem Zákazníka. CleanDeal nepřebírá žádnou
            odpovědnost za případné škody v období, kdy je Zákazník v prodlení se zaplacením dlužné částky.
          </p>

          <h2>IX. Ochrana osobních údajů</h2>
          <p>
            Zásady správy a zpracování osobních údajů, jakož i práva a povinnosti s tím spojené včetně práv subjektů
            údajů a záruky zabezpečení osobních údajů jsou obsaženy v dokumentu věnovaném ochraně osobních údajů, který
            je dostupný na webových stránkách www.CleanDeal.cz.
          </p>
          <p>
            Zákazník je srozuměn s tím, že CleanDeal ve smyslu zákona č. 101/2000 Sb. v platném znění, o ochraně
            osobních údajů a o změně některých zákonů, ve znění pozdějších předpisů, a ve smyslu Nařízení Evropského
            parlamentu a Rady (EU) 2016/679 ze dne 27. dubna 2016 o ochraně fyzických osob v souvislosti se zpracováním
            osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (dále jen „GDPR”) zpracovává,
            shromažďuje a uchovává osobní údaje Zákazníka uvedené ve Smlouvě, případně získané z jiných vztahů
            souvisejících se vzájemnou spoluprací mezi CleanDeal a Zákazníkem, a další osobní údaje nezbytné pro
            poskytování služeb, a to za účelem souvisejícím s poskytováním Úklidových služeb ze strany dle Smlouvy
            Zákazníkovi, dále za účelem užívání dalších služeb a produktů CleanDeal a případného kontaktování Zákazníka
            a jím určených osob dle Smlouvy, a to i s dotazy ohledně nabídky, rozvoje produktů a služeb a zvláštních
            propagačních akcí CleanDeal, a to buď e-mailem, poštou nebo telefonicky.
          </p>
          <p>
            CleanDeal zpracovává osobní údaje výhradně pro účely poskytování Úklidových služeb, a to na základě Smlouvy
            uzavírané mezi CleanDeal a Zákazníkem, přičemž tato Smlouva je zákonným důvodem pro zpracování osobních
            údajů v rozsahu v jakém byly společnosti CleanDeal poskytnuty ze strany Zákazníka, konkrétně se jedná
            zejména o: jméno a příjmení Zákazníka, e-mailovou adresu, datum narození, PSČ, adresu bydliště, telefon,
            identifikační údaje a popis Úklidových prostor, číslo účtu, typy poskytovaných služeb a popisy způsobu
            provedení služeb, IP adresu. Dalším důvodem pro zpracování osobních údajů může být nezbytnost daná účely
            oprávněných zájmů CleanDeal či třetí strany, např. pro vedení soudních sporů, reklamačních a pojistných
            řízení, marketingu a dále nezbytnost daná plněním zákonných povinností (např. vedení účetnictví při plnění
            daňových povinností).
          </p>
          <p>
            CleanDeal plní vůči subjektům údajů své zákonné informační povinnosti dle článku 12 a násl. GDPR, což
            znamená jak obecnou informační povinnost, tak i případné dílčí odpovědi na žádosti či stížnosti subjektů
            údajů ve vztahu k poskytovaným službám. Zákazník je oprávněn požádat CleanDeal prostřednictvím kontaktní
            e-mailové adresy nebo písemně o informaci o zpracování svých osobních údajů. Společnost CleanDeal je povinna
            tuto informaci bez zbytečného odkladu, nejpozději do pěti (5) pracovních dnů, Zákazníkovi předat. Zákazník
            je oprávněn své poskytnuté a zpracovávané osobní údaje měnit a aktualizovat. V případě, že Zákazník zjistí
            nebo se domnívá, že CleanDeal provádí zpracování jeho osobních údajů, které je v rozporu s ochranou
            soukromého a osobního života zákazníka nebo v rozporu se zákonem, zejména jsou-li osobní údaje nepřesné s
            ohledem na účel zpracování, je oprávněn požádat CleanDeal prostřednictvím kontaktní e-mailové adresy nebo
            písemně na adresu sídla o vysvětlení, o odstranění vzniklého stavu blokováním, provedením opravy, doplněním
            nebo výmazem osobních údajů. Je-li tato žádost shledána jako oprávněná, je CleanDeal povinna neprodleně,
            nejpozději do pěti (5) dnů, odstranit závadný stav.
          </p>

          <h2>X. Informace pro spotřebitele</h2>
          <p>
            Za spotřebitele se považuje každý zákazník, který je fyzickou osobou a který mimo rámec své podnikatelské
            činnosti nebo mimo rámec samostatného výkonu svého povolání uzavírá smlouvu s CleanDeal.
          </p>
          <p>
            Spotřebitel má právo písemně odstoupit od Smlouvy bez uvedení důvodu ve lhůtě čtrnácti dnů. Odstoupení musí
            být učiněno písemně a doručeno prostřednictvím poskytovatele poštovních služeb nebo prostřednictvím e-mailu.
            Lhůta pro uplatnění práva na odstoupení od Smlouvy běží ode dne uzavření Smlouvy. Pokud spotřebitel objedná
            Úklidové práce na termín, který nastane dříve než po uplynutí 14 dní ode dne uzavření Smlouvy, bude
            CleanDeal považovat e-mailové odsouhlasení Potvrzení úklidových prací nebo odsouhlasení Alternativní nabídky
            za žádost Spotřebitele o započetí plnění před lhůtou pro odstoupení, pak již Spotřebitel nemá právo na
            odstoupení od smlouvy. Spotřebitel též bere na vědomí, že nelze odstoupit od Smlouvy po provedení úklidových
            prací.
          </p>
          <p>
            Pokud se nepodaří vyřešit spor smírnou cestou, spotřebitel má právo domáhat se mimosoudního řešení sporu u
            České obchodní inspekce, která je příslušným subjektem pro mimosoudní řešení spotřebitelských sporů.
            Formulář a bližší informace jsou dostupné na internetové stránce České obchodní inspekce
            <a href="https://www.adr.coi.cz">https://www.adr.coi.cz</a>.
          </p>


          <h2>XI. Závěrečná ustanovení</h2>
          <p>
            Vztahy neupravené touto smlouvou se řídí příslušnými právními předpisy České republiky.
          </p>
          <p>
            Smluvní strany se zavazují nakládat s informacemi, které se dozvěděly na základě Smlouvy nebo v souvislosti
            s ní, jako s důvěrnými a zavazují se tyto neposkytovat bez souhlasu druhé smluvní strany třetí osobě, a to s
            výjimkami sjednanými v této Smlouvě.
          </p>
          <p>
            Tyto VOP nabývají účinnosti dnem jejich zveřejnění a jsou v příslušném znění rozhodné pro veškeré Smlouvy
            učiněné v tento den a později.
          </p>
          <p>
            Jakékoliv změny Smlouvy mohou být provedeny pouze na základě písemné dohody smluvních stran, pokud není ve
            Smlouvě či VOP uvedeno jinak.
          </p>
          <p>
            CleanDeal je oprávněna jednostranně v přiměřeném rozsahu znění VOP změnit. Tuto změnu je CleanDeal povinna
            oznámit Zákazníkovi bez zbytečného odkladu písemně, a to i elektronicky. Zákazník je oprávněn takto
            oznámenou změnu VOP odmítnout ve lhůtě jednoho měsíce ode dne jejího oznámení, po marném uplynutí této lhůty
            je nové znění VOP platné pro smluvní vztah vyplývající ze Smlouvy. V případě, že zákazník odmítne ve
            stanovené lhůtě změnu VOP, je oprávněn tuto Smlouvu vypovědět dle ustanovení čl. VIII těchto VOP.
          </p>
          <br>
          <p>
            Všeobecné obchodní podmínky jsou platné a účinné dnem 1. 11. 2022
          </p>


        </div>
      </div>
    </div>
  </div>
</section>
