<section class="static-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="white-block">
          <div class="sec-title text-center">
            <div class="title">Ochrana osobních údajů</div>
          </div>

          <p>
            Zpracování osobních údajů dle nařízení Evropského parlamentu a Rady (EU) 2016/679 o ochraně fyzických osob v
            souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů (General Data Protection
            Regulation) (dále jen: „GDPR”)
          </p>

          <h4>I. Základní ustanovení</h4>
           <ul>
             <li>Tyto informace jsou poskytované na základě povinnosti dle čl. 13 GDPR</li>
             <li>Správcem osobních údajů dle čl. 4 bod 7 GDPR je CleanDeal s.r.o. IČ: 17357713 (dále jen: „správce“).</li>
             <li>Kontaktními údaji správce jsou:</li>
             <li>
               adresa: Jankovcova 1535/2a, Holešovice, 170 00 Praha 7 <br>
               e-mailová adresa: info@cleandeal.cz <br>
               telefonní číslo: +420 xxx xxx xxx
             </li>
             <li>Správce nejmenoval pověřence pro ochranu osobních údajů.</li>
           </ul>

          <h4>II. Definice</h4>

          <p>Pro účely GDPR se rozumí:</p>

          <p>1. „Správcem“ fyzická nebo právnická osoba, orgán veřejné moci, agentura nebo jiný subjekt, který sám nebo společně s jinými určuje účely a prostředky zpracování osobních údajů; jsou-li účely a prostředky tohoto zpracování určeny právem Unie či členského státu, může toto právo určit dotčeného správce nebo zvláštní kritéria pro jeho určení;
          </p>

          <p>2. „Osobními údaji“ veškeré informace o identifikované nebo identifikovatelné fyzické osobě; identifikovatelnou fyzickou osobou je fyzická osoba, kterou lze přímo či nepřímo identifikovat, zejména odkazem na určitý identifikátor, například jméno, identifikační číslo, lokační údaje, síťový identifikátor nebo na jeden či více zvláštních prvků fyzické, fyziologické, genetické, psychické, ekonomické, kulturní nebo společenské identity této fyzické osoby;
          </p>

          <p>3. „Zpracováním“ jakákoliv operace nebo soubor operací s osobními údaji nebo soubory osobních údajů, který je prováděn pomocí či bez pomoci automatizovaných postupů, jako je shromáždění, zaznamenání, uspořádání, strukturování, uložení, přizpůsobení nebo pozměnění, vyhledání, nahlédnutí, použití, zpřístupnění přenosem, šíření nebo jakékoliv jiné zpřístupnění, seřazení či zkombinování, omezení, výmaz nebo zničení;
          </p>

          <p>4. „Zpracovatelem“ fyzická nebo právnická osoba, orgán veřejné moci, agentura nebo jiný subjekt, který zpracovává osobní údaje pro správce;
          </p>

          <p>5. „Souhlasem“ subjektu údajů jakýkoli svobodný, konkrétní, informovaný a jednoznačný projev vůle, kterým subjekt údajů dává prohlášením či jiným zjevným potvrzením své svolení ke zpracování svých osobních údajů;</p>

          <h4>III. Zpracovávané osobní údaje</h4>

          <p>1. Správce zpracovává nezbytné osobní údaje subjektu údajů z důvodu plnění smluvní povinnosti (např. vyřízení objednávky či rezervace), z důvodu oprávněného zájmu správce a na základě svobodného souhlasu subjektu údajů pro konkrétní účel.</p>

          <p>2. Těmito údaji jsou především:</p>

          <p>a. identifikační a adresní údaje: oslovení, akademický titul, jméno, příjmení, datum narození, fakturační adresa, doručovací nebo jiná kontaktní adresa, IČ, DIČ
            <br>
            b. elektronické kontaktní údaje: telefon, mobilní telefon, fax, e-mailová adresa
            <br>
            c. jiné elektronické údaje: IP adresa, cookies, autentizační certifikáty, identifikátory v sociálních sítích a komunikačních platformách /např. Skype/, lokační údaje zařízení užívaného objednatelem atd.
            <br>
            d. další osobní údaje spojené se smluvním vztahem: jako např. číslo bankovního účtu.
            <br>
            e. osobní údaje: které vznikají jako výsledek adresných analýz spotřebitelského chování objednatele, záznamy o historii a plnění platebních povinností</p>

          <p>3. Správce neprovádí automatizované individuální rozhodování, včetně profilování dle čl. 22 GDPR nemá-li k tomuto výslovný souhlas subjektu údajů dle čl. 22 odst. 2. písm. c) GDPR</p>

          <h4>IV. Zákonnost zpracování a účel zpracování osobních údajů</h4>

          <p>1. Zákonný důvod zpracování osobních údajů:
            <br>
            zpracování je nezbytné pro plnění smlouvy mezi subjektem údajů a správcem dle čl. 6 odst. 1 písm. b) GDPR
            <br>
            zpracování je nezbytné pro účely oprávněného zájmu správce (např. poskytování přímého marketingu) dle čl. 6 odst. 1 písm. f) GDPR,
            <br>
            zpracování je nezbytné pro daný konkrétní účel např. poskytování přímého marketingu dle čl. 6 odst. 1 písm. a) GDPR ve spojení s § 7 odst. 2 zákona č. 480/2004 Sb., o některých službách informační společnosti v případě, že nedošlo k objednávce zboží nebo služby.</p>

          <p>
            V takovém případě
            <br>
            i. je správce schopen doložit, že subjekt údajů udělil souhlas se zpracováním svých osobních údajů.
            <br>
            ii. subjekt údajů má právo svůj souhlas kdykoli odvolat.
          </p>

          <p>2. Účel zpracování osobních údajů:</p>
          <p>vyřízení objednávky/poptávky, rezervace či jiné poskytované služby vyplývající ze smluvního vztahu mezi subjektem údajů a správcem; pro úspěšné plnění této smluvní povinnosti jsou vyžadovány osobní údaje jako je jméno, adresa, telefonní číslo, e-mail či jiné kontaktní údaje, bez poskytnutí těchto osobních údajů není možné uzavření a plnění smlouvy ze strany správce. občasné zasílání obchodních sdělení, newsletterů a další marketingové aktivity.
          </p>

          <h4>V. Uchovávání osobních údajů</h4>

          <p>1. Správce uchovává osobní údaje
            <br>
            po nezbytnou dobu k výkonu práv a povinností vyplývajících ze smluvního vztahu mezi subjektem údajů a správcem, pro účely plnění zákonných povinností a uplatnění nároků z těchto smluvních vztahů
            po dobu, než je odvolán souhlas se zpracováním osobních údajů pro konkrétní účel jsou-li osobní údaje zpracovávány na základě souhlasu subjektu údajů
          </p>

          <p>2. Po uplynutí doby uchovávání osobních údajů dochází k výmazu osobních údajů
          </p>

          <p>3. K výmazu osobních údajů dochází také na základě požadavku subjektu údajů dle čl. 17 GDPR Právo na výmaz („právo být zapomenut“), nejsou-li již nadále potřebné k plnění práv a povinností vyplývajících ze smluvního vztahu mezi subjektem údajů a správcem</p>

          <h4>VI. Příjemci osobních údajů (zpracovatelé, subdodavatelé a jiné dotčené osoby)</h4>
          <p>1. Příjemci osobních údajů dle čl. 4 GDPR jsou osobypodílející se na dodání zboží či služeb na základě smluvního vztahu mezi subjektem údajů a správcem poskytovatelé a administrátoři webových stránek a ostatních služeb.</p>

          <h4>VII. Práva subjektu údajů</h4>

          <p>Subjekt údajů má dle GDPR tato práva
            <br>
            <br>
            právo na transparentní informace, sdělení a postupy pro výkon práv subjektu údajů dle čl. 12, 13 a 14 GDPR
            právo subjektu údajů na přístup k osobním údajům dle čl. 15 GDPR
            právo na opravu osobních údajů dle čl. 16 GDPR
            právo na výmaz osobních údajů dle čl. 17 GDPR („právo být zapomenut“)
            právo na omezení zpracování dle čl. 18 GDPR
            právo na oznámení ohledně opravy, výmazu nebo omezení zpracování dle čl. 19 GDPR
            právo na přenositelnost údajů dle čl. 20 GDPR.
            právo vznést námitku dle čl. 21 GDPR
            právo odvolat dříve udělený souhlas se zpracováním osobních údajů dle čl. 7 odst. 3.
            právo podat stížnost u Úřadu pro ochranu osobních údajů v případě, že se domnívá, že bylo porušeno právo na ochranu osobních údajů
          </p>

          <h4>VIII. Závěrečná ustanovení</h4>

          <p>1. Subjekt údajů má právo seznámit se s těmito podmínkami ochrany osobních údajů na základě GDPR vždy před potvrzením služby, u které je k plnění smluvní povinnosti nezbytné zpracování osobních údajů.
          </p>

          <p>2. Je-li sběr osobních údajů realizován za jiným účelem než k plnění práv a povinností vyplývajících ze smluvního vztahu mezi správcem a subjektem údajů nebo nevede-li k tomuto sběru oprávněný zájem správce nebo plnění zákonné povinnosti, zavazuje se správce získat konkrétní a svobodný souhlas subjektu údajů pro jeden nebo více stanovených účelů.</p>



        </div>
      </div>
    </div>
  </div>
</section>
