:host {
  ::ng-deep {
    .cleaning .cal-event-title {
      color: black;
    }
    .cal-week-view .cal-header.cal-today {
      background-color: var(--orange-lightest);

      b {
        color: var(--main-orange);
      }
    }
  }
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .btn-outline-grey {
      color: var(--admin-text-color-light);
      border-color: var(--admin-text-color-light);
      background: transparent;
      padding: 6px 20px;

      &:hover {
        color: #FFF;
        border-color: var(--admin-text-color-light);
        background:  var(--admin-text-color-light);;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  :host {
    max-width: 100%;
    //overflow-x: scroll;
    //overflow-y: hidden;
    display: block;

    .week-view-wrap {
      max-width: 100%;
      display: block;
      overflow-x: scroll;
    overflow-y: hidden;
    }

    mwl-calendar-week-view {
      min-width: 300%;
      display: block;
    }
  }
}
