<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="admin-headline">Upravit uklízečku</h1>
      </div>
      <br>
    </div>

    <div class="col-lg-6">
      <div class="admin-card full">
        <div class="admin-card-body">
        <form [formGroup]="cleanerForm">

          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Jméno</label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                placeholder="Jméno ">
            </div>
          </div>

          <div class="form-group row">
            <label for="surname" class="col-sm-3 col-form-label">Příjmení</label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="surname"
                formControlName="surname"
                placeholder="Příjmení">
            </div>
          </div>

          <div class="form-group row">
            <label for="username" class="col-sm-3 col-form-label">Uživatelské jméno</label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="username"
                formControlName="username"
                placeholder="Login">
            </div>
          </div>

          <div class="form-group row">
            <label for="bankAccount" class="col-sm-3 col-form-label">Bank. účet</label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="bankAccount"
                formControlName="bankAccount"
                placeholder="">
            </div>
          </div>


        </form>
        <form [formGroup]="timesForm">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Pondělí</label>
            <div class="col-sm-5 col-lg-3">
              <select
                class="custom-select"
                formControlName="moFrom">
                <option *ngFor="let item of times" [value]="item.id">{{item.id}}</option>
              </select>
            </div>
            <div class="col-sm-5 col-lg-3">
              <select
                class="custom-select"
                formControlName="moTo">
                <option *ngFor="let item of times" [value]="item.id">{{item.id}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Úterý</label>
            <div class="col-sm-5 col-lg-3">
              <select
                class="custom-select"
                formControlName="tuFrom">
                <option *ngFor="let item of times" [value]="item.id">{{item.id}}</option>
              </select>
            </div>
            <div class="col-sm-5 col-lg-3">
              <select
                class="custom-select"
                formControlName="tuTo">
                <option *ngFor="let item of times" [value]="item.id">{{item.id}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Středa</label>
            <div class="col-sm-5 col-lg-3">
              <select
                class="custom-select"
                formControlName="weFrom">
                <option *ngFor="let item of times" [value]="item.id">{{item.id}}</option>
              </select>
            </div>
            <div class="col-sm-5 col-lg-3">
              <select
                class="custom-select"
                formControlName="weTo">
                <option *ngFor="let item of times" [value]="item.id">{{item.id}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Čtvrtek</label>
            <div class="col-sm-5 col-lg-3">
              <select
                class="custom-select"
                formControlName="thFrom">
                <option *ngFor="let item of times" [value]="item.id">{{item.id}}</option>
              </select>
            </div>
            <div class="col-sm-5 col-lg-3">
              <select
                class="custom-select"
                formControlName="thTo">
                <option *ngFor="let item of times" [value]="item.id">{{item.id}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Pátek</label>
            <div class="col-sm-5 col-lg-3">
              <select
                class="custom-select"
                formControlName="frFrom">
                <option *ngFor="let item of times" [value]="item.id">{{item.id}}</option>
              </select>
            </div>
            <div class="col-sm-5 col-lg-3">
              <select
                class="custom-select"
                formControlName="frTo">
                <option *ngFor="let item of times" [value]="item.id">{{item.id}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Sobota</label>
            <div class="col-sm-5 col-lg-3">
              <select
                class="custom-select"
                formControlName="saFrom">
                <option *ngFor="let item of times" [value]="item.id">{{item.id}}</option>
              </select>
            </div>
            <div class="col-sm-5 col-lg-3">
              <select
                class="custom-select"
                formControlName="saTo">
                <option *ngFor="let item of times" [value]="item.id">{{item.id}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Neděle</label>
            <div class="col-sm-5 col-lg-3">
              <select
                class="custom-select"
                formControlName="suFrom">
                <option *ngFor="let item of times" [value]="item.id">{{item.id}}</option>
              </select>
            </div>
            <div class="col-sm-5 col-lg-3">
              <select
                class="custom-select"
                formControlName="suTo">
                <option *ngFor="let item of times" [value]="item.id">{{item.id}}</option>
              </select>
            </div>
          </div>

          <br>
          <button type="submit" class="btn btn-success" (click)="onSave()">Uložit uklízečku</button>

        </form>
      </div>
    </div>
    </div>
  </div>
</div>
