<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content text-center clearfix">
          <div class="breadcrumb-menu">
            <ul class="clearfix">
            </ul>
          </div>
          <div class="title">
            <h1>Kontakty</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-info-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6">
        <div class="contact-info-content">
          <div class="sec-title">
            <h3>Máte nějaký dotaz?</h3>
            <div class="title">Ozvěte se nám</div>
          </div>
          <div class="inner-content">
            <div class="text">
              <p>V přípaě jakéhokoliv dotazu se na nás neváhejte obrátit, rádi Vám je všechny zodpovíme. </p>
            </div>
            <ul>
              <li>
                <p>Telefonicky</p>
                <span>666 888 000</span>
                <br>
              </li>
              <li>
                <p>E-mailem</p>
                <span>info@cleandeal.cz</span>
              </li>
              <li>
                <p>Na příjmu jsme</p>
                <span>Pondělí - Pátek &nbsp;&nbsp;&nbsp; 8:00 - 17:00</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12">
        <div class="single-trusted-image">
          <img src="assets/images/resources/sidebar_contact_2.jpg" alt="">
        </div>
      </div>

    </div>
  </div>
</section>
